@import '~CommonStyles/_vars';

body i.bell {
  font-size: 24px;
  color: $neutralLine;
  margin-top: 4px;
  cursor: pointer;
  color: $lightContent;

  &.selected {
  	color: $dark;
  }
}

.notificationHolder {
	position: relative;
  margin-right: 25px;
  @media screen and (max-width: $mobileBreakpoint) {
	  margin-right: 0px;
	}
}
.notificationCount {
	position: absolute;
	right: 0;
	top: 0;
	background: $negative;
	color: white;
	padding: 3px;
	border-radius: 3px;
	font-size: 10px;
	line-height: 10px;
}

.menu {
	font: $fontSmall;
	width: auto !important;
}