@import '~CommonStyles/_vars';

.iconLeft {
	margin: 0 10px 0 0 !important;
	color: #ccc;
	width: 30px !important;
}

.iconRight {
	float: right !important;
	margin: 0 0 0 10px !important;
	color: #08b689;
}

.avatar {
	float: left !important;
	margin: 0 10px 0 0 !important;
	width: 30px !important;
	height: 30px !important;
	border-radius: 30px;
}

.menu {
	width: 100% !important;
}

.menuText {
	flex-grow: 1;
	font: $fontMediumBold;
}

.menuSubText {
	font: $fontSmall;
}

.menuItem {
	vertical-align: middle !important;
  padding: 10px 15px !important;
  min-height: 50px;
  display: flex !important;
  justify-content: space-around;
  align-items: center;
	border-bottom: 1px solid $neutralLine;
	z-index: 2;

	&.active {
		cursor: default;
		.menuSubText {
			color: $white60;
		}
	}

	&.invite {
		.menuSubText {
			color: $accent;
		}
	}
}