@import '~CommonStyles/_vars';

.lateralMenuContainer {
	position: fixed;
	top: 0;
	bottom: 0;
	background: $lateralMenuBackground;
	color: white;
	width: $leftMenuWidth;
	left: 0;
	z-index: 6;

	@media screen and (max-width: $mobileBreakpoint) {
		background: transparent;
		position: relative;
		width: 40px;
		top: 3px;

	}
}

.iconsList {
	width: 100%;
	li {
		text-align: center;
		font-size: 18px;
		width: 100%;
		a {
			width: 100%;
			display: block;
			color: white;
			font-weight: bold;
			padding: 10px;

		}
	}
}

.logo {
	cursor: pointer;
}

.goBackIcon {
	font-size: 22px !important;
	cursor: pointer;
}

.topIcons {}
.bottomIcons {
	position: absolute;
	bottom: 10px;
}

.minified {
	.iconsListHolder {
		position: fixed;
		top: $topMenuHeightMobile;
		background: white;
		border-radius: 3px;
		box-shadow: 2px 1px 4px rgba(0,0,0,0.1);
		left: 0;
		right: 0;
		bottom: 0;
		padding: 0 $commonMargin $commonMargin 8px;
		.iconsList {
			position: static;
			li {
				text-align: left;
				a {
					color: $black90;
					font: $fontMediumBold;
					display: flex;
					align-items: center;
					padding: 10px 6px;
					svg {
						margin-right: 10px;
					}
				}
			}
		}
	}
}


.menuItem {
	position: relative;
	cursor: pointer;

	&.dashboardMenuIcon {
		margin: 9px 0 0 3px;
	}

	.tooltip {
		opacity: 1;
		font: $fontSmall;
		color: $dark;
		background: white;
		padding: 5px;
		position: absolute;
		left: 100%;
		top: 10px;
	  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.18);
	  z-index: 1000;
	  display: none;
	  &:before {
	    content: '';
	    border-right: 7px solid white;
	    border-top: 8px solid transparent;
	    border-bottom: 8px solid transparent;
	    position: absolute;
	    left: -7px;
	  }
	}

	&:hover {
		svg {
			opacity: 0.7;
		}
		.tooltip {
			display: block;
		}
	}

	&:active {
		svg {
			opacity: 0.5;
		}
		.tooltip {
			display: block;
		}
	}
}
