@import '~CommonStyles/_vars';

.lateralSubMenuContainer {
  position: fixed;
  top: $topMenuHeight;
  @media screen and (max-width: $mobileBreakpoint) {
    top: $topMenuHeightMobile;
  }
  bottom: 0;
  background: $neutralBackground;
  width: 150px;
  left: $leftMenuWidth;
}

.submenuList {
  width: 100%;
  li {
    text-align: left;
    font-size: $fontMediumBold;
    width: 100%;
    border-right: 1px solid $neutralLine;
    border-bottom: 1px solid $neutralLine;
    padding-left: 1 * $commonMargin;
    padding-right: 1 * $commonMargin;

    &.selected,
    &:active {
      background: white;
    }

    &.selected {
      border-right-color: white;
    }

    &:hover {
      background: $white20;
    }

    a {
      width: 100%;
      display: block;
      font-weight: bold;
      padding: 1.5rem;
      color: $black90;
    }
  }
}

.topIcons {
}
.bottomIcons {
  position: absolute;
  bottom: 10px;
}

.menuItem {
  cursor: pointer;
}
