@import '~CommonStyles/_vars';

.topMenuContainer {
  position: fixed;
  top: 0;
  right: 0;
  left: $leftMenuWidth;

  @media screen and (max-width: $mobileBreakpoint) {
    left: 0;
    height: $topMenuHeightMobile;
    padding: 0 $commonMargin;
  }

  background: white;
  border-bottom: 1px solid $neutralLine;
  height: $topMenuHeight;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 #{$commonMargin * 2};
  z-index: 4;
}

.avatar {
  margin: 0 0 0 10px !important;
  width: 36px !important;
  height: 36px !important;
  border-radius: 36px;
  border: 2px solid white;
}

.assetMenuTriggerContainer {
  cursor: pointer;
}

.assetMenuTrigger {
  color: $dark;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.mainTitleHolder {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainTitle {
  color: $black90;
  font: $fontH1;
  text-transform: capitalize;
  display: inline-block;

  @media screen and (max-width: $mobileBreakpoint) {
    font: $fontHeroTextBold;
  }
}

.rightActions {
  text-align: right;
  display: flex;
  align-items: center;
}

.userName {
  margin: -2px 0;
  font: $fontSmallBold;
}

.assetName {
  font: $fontSmall;
}

.refreshButton {
  color: $black90 !important;
  margin-left: $commonMargin !important;
  cursor: pointer;
  height: 1.18em !important;
  width: 1.18em !important;

  &.loading {
    animation: rotation 2s infinite linear;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
