@import '../root/_vars-widget.scss';

.module, .innerModule {
	margin: #{$commonVerticalMargin / 2} $commonMargin;
	padding: $commonMargin;
	z-index: 1;
  position: relative;
  background: white;
  border-radius: 4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.innerModule {
	margin: 0;
}

.moduleTitle {
	font: $fontH2;
	margin-bottom: $commonMargin;
	display: flex;
	justify-content: space-between;
}

.moduleSubtitle {
	font: $fontMedium;
	color: $white60;
	margin: #{-$commonMargin / 1.25} 0 $commonMargin 0;
}

.withinChat {
}

.goBack {
	position: absolute;
	top: 0;
}

.moduleTable {
	width: 100%;
	font: $fontMediumBold;

	td {
		border-bottom: 1px solid $neutralLine;
		text-align: left;
		padding: 4px 0 7px;
	}
}