@import '../root/_vars-widget.scss';

.inputContainer {
	select, input {
		border-color: $white50 !important;
	}
}

.inputContainer, .buttonContainer {
	display: block;
	width: 100%;
	overflow: hidden;
	position: relative;

	&.inline {
		display: inline-block;
		width: auto;
		flex-shrink: 2;

		+ .inline {
			margin-left: 10px;
			margin-top: 0;
		}
	}
	&.grow {
		flex-grow: 1;
	}
	&.equal {
		flex-basis: 50%;
	}
}

.inputContainer + .inputContainer {
	margin-top: $verticalSeparation;
}

.input {
	display: block;
	width: 100%;
	border: 1px solid #ccc;
  padding: 10px;
  border-radius: 3px;
  background: white;
}

.label {
	font: $fontMediumBold;
	margin-bottom: 3px;
}

.error {
	display: block;
	width: 100%;
	font: $fontSmall;
	color: red;
}

.checkboxLabel {
	display: block;
	margin-left: 26px;
	font: $fontMediumBold;
	margin-bottom: 3px;
}

.checkbox {
	float: left;
	margin-top: 10px;
}


.button {
	width: 100%;
	padding: 5px 10px;
	text-align: center;
	border-radius: 4px;
	cursor: pointer;;
	height: 42px;
	font-weight: 500;

	&.disabled {
		cursor: not-allowed;
	}
}

.buttonContainer + .buttonContainer {
	margin-top: $commonMargin;
}

.button-primary {
	color: var(--theme-text-color);
	background: var(--theme-color);
	border: 0;
	&:hover {
		background: var(--theme-color-hover);
	}
	&:active {
		background: var(--theme-color-active);
	}
}

.button-secondary {
	color: var(--theme-color);
	background: white;
	border: 1px solid var(--theme-color);
	&:hover {
		color: var(--theme-color-hover);
		border-color: var(--theme-color-hover);
	}
	&:active {
		color: var(--theme-color-active);
		border-color: var(--theme-color-active);
	}
}

.selectContainer {
  position: relative;
	select {
		cursor: pointer;
		-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 10px;
    width: 100%;
    outline: none;
    background: white;
	}

}

.selectInputContainer {
	position: relative;
	.selectpTip {
  	position: absolute;
  	top: 38%;
  	right: 10px;
  	pointer-events: none;
	}
}

.buttonRibbon {
	position: absolute;
	right: 0;
	top: 0;
	height: 12px;
	width: 12px;
  background: rgba(255, 255, 255, 0.3);
	z-index: 1;
	border-radius: 0 4px 0 4px;
	overflow: visible;
	&:after {
		content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0;
    width: 0;
    background: transparent;
    border-top: 12px solid white;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    opacity: 0.3;
	}
}

.hidden {
	display: none;
}
