@import '~CommonStyles/_vars';

.socialButton {
  margin-right: $commonMargin !important;
  margin-bottom: 1rem !important;
  font-weight: 400;
  text-transform: uppercase;
  i {
    font-size: 18px;
  }
  &:last-child {
    margin-right: 0 !important;
  }
}

.firstLink a {
  text-decoration: underline;
  color: $black90;
}

.inlineSignupForm {
  text-align: center;
  width: 400px;
  max-width: 95%;
  margin: 0 auto $commonMargin auto;
}

.inlineSignupFormConfirmation {
  margin: 0;
  text-align: center;
  width: 700px;
  max-width: 100%;
}

.center {
  text-align: center;
}

.center {
  text-align: left;
}

.logo {
  height: 30px;

  margin: 2 * $commonMargin 0;
}

.title {
  text-transform: capitalize;
  margin-bottom: 8px;
}

.viewPass {
  position: absolute;
  right: 8px;
  top: 11px;
  font-size: 22px !important;
  color: $white60;
  cursor: pointer;
  &.showingPass {
    color: $black60;
  }
}

.left {
  text-align: left;
}

.link {
  font: $fontSmallBold;
  cursor: pointer;
}

.termsLink {
  font: $fontSmall;
  margin-left: 6px;
}

.terms {
  font: $fontSmallBold;
  margin: #{$commonMargin * 2} 0 0 0;

  a {
    color: $black90;
    text-decoration: underline;
  }
}

.socialDivider {
  text-transform: none;
  font: $fontSmall;
  color: $white60;
}

.socialButtonColumns {
  display: flex;
}
