@import '../root/_vars-widget.scss';

.body {
	position: fixed;
	right: 5px;
	left: auto;
	&.left {
		left: 5px;
		right: auto;
	}
	bottom: 80px;
	width: $widgetWidth;
  box-sizing: border-box;
	background: $white10;
	border: 0px solid #666;
	overflow: hidden;
	border-radius: 6px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.32);
  height: 710px;
  z-index: 1;

  &.standAlone {
  	left: auto;
  	right: $lateralSpace;
  	bottom: 100px;

  	&.left {
  		right: auto;
  		left: $lateralSpace;
  	}
  }

  &.isMobile {
  	border-radius: 0;
  	left: auto !important;
  	right: 0 !important;
  	// Standalone inline can  only mean test environments (embeeded in admin)
  	&.standAlone.inline {
	  	border-radius: 6px;
  	}
  }

	&.inline {
		position: static;
		max-height: none;
	}

	.bodyFrame {
		overflow-y: scroll;
		overflow-x: hidden;
		width: 100%;
		height: calc(100% - 36px);
		flex-grow: 1;
		display: flex;
    flex-direction: column;

		&.hasGoBack {
			padding-top: 50px;
		}

		&.hasChat {
			overflow-y: hidden;
			height: 100%;
		}
	}
}
