@import '../../root/_vars-widget.scss';

.footerContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	background: white;
	box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.17);
	height: 36px;
  padding: 4px;
  z-index: 1;
  position: relative;
  cursor: pointer;
	color: $white60;

	.icon {
		height: 20px;
		width: 20px;
		margin-right: 7px;
	  transform: translateY(2px);
	}

	.title {
		font-size: 13px;
		font-weight: 500;
	}

  &:hover {
  	color: $white50;
  	svg path {
  		fill: $white50;
  	}
  }

  &:active {
  	color: $black60;
  	svg path {
  		fill: $black60;
  	}
  }
}
