/* This is the main css file of the project, and it is NOT compiled wiht class prefixes
 * it is used to define global styles, include sprites, and to mofify semantic CSS rules
 * (which are not namespaced)
 *
 * This file is NOT included in the widget bundles in any case
 */

@import '~CommonStyles/_vars';
@import '../client/compiled-css/semantic-ui-css/semantic.css';
@import '../client/compiled-css/colorpicker/colorpicker.css';

@import '../client/compiled-css/pure-carrousel.scss';
@import '../client/compiled-css/carrousel.scss';
@import '../client/compiled-css/semantic-ui-css/semantic.scss';

html {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: $fontFamily;
  color: $black90;
  margin: 0;
  padding: 0;
}
/* Changes introduced to the semantic's original codebase:
  - remove all ocurrences of i.icon.\35 00px, => (\35 00px was breaking the rule for all brand icons)
*/

body {
  ul,
  div,
  p,
  span,
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a {
    cursor: pointer;
  }

  &.dimmed.dimmable {
    .ui.active.dimmer {
      animation-name: fadeIn;
      animation-duration: 0.3s;
      animation-iteration-count: 1;
      animation-timing-function: linear;

      @keyframes ringGrow {
        0% {
          background-color: rgba(0, 0, 0, 0);
        }
        100% {
          background-color: rgba(0, 0, 0, 0.7);
        }
      }
    }
  }

  .ui {
    &.grid {
      &.noMargin {
        margin: 0 !important;
      }
      .column {
      }

      &.fullSize {
        margin: 0 !important;
        padding: 0 !important;

        .column,
        .row {
          margin: 0 !important;
          padding: 0 !important;
        }
      }
      .row {
        max-width: $maxWidth !important;
        margin-left: auto !important;
        margin-right: auto !important;
      }
      .row.fullSize {
        max-width: none !important;
        margin: 0 auto !important;
        padding: 0 !important;

        .row {
          max-width: $maxWidth !important;
        }
      }
      .row.narrow {
        max-width: 933px !important;
      }
    }
    &.menu {
      &.borderless {
        border: 0;
        box-shadow: none;
      }
    }
    &.input {
      max-width: 100%;
      > input,
      > textarea {
        border: 1px solid $divider;
        background: white;
        color: black;
      }
    }
    &.button {
      &.uppercase {
        text-transform: uppercase;
        font-weight: 400;
      }
    }
    &.compact.dropdown {
      min-height: 12px !important;
      padding: 6px 24px 6px 12px;
      .text {
        font: $fontSmall;
      }
      .icon {
        transform: translate(6px, -4px);
      }
    }
  }

  .rv-xy-plot__series.rv-xy-plot__series--line {
    fill: transparent;
  }

  .rv-xy-plot {
    position: relative;
  }
}

.header + .ui.grid {
  margin-top: -10px !important;
}

// -------------- Google Places Autocomplete
.pac-container {
  @media only screen and (max-width: $mobileBreakpoint) {
    min-width: 100%;
  }
  font: $fontMedium;

  .pac-item {
    padding: 5px $pageMargin;
  }
}

body.dimmable.dimmed {
  overflow: visible !important;
}
