@import '~CommonStyles/_vars';

.conditions {
  font: $fontTiny;
}

.bottomSpace {
  height: 200px;
}

.cartBackground {
  background: $inputBorder;
}

.emptyCart {
  background: $inputBorder;
  text-align: center;
  padding: 100px 0;
}
