@import '~CommonStyles/_vars';

.fullFixed {
	position: fixed;
	top: $topMenuHeight;
	@media screen and (max-width: $mobileBreakpoint) {
    top: $topMenuHeightMobile;
    left: 0;
  }
	left: $leftMenuWidth;
	right: 0;
	bottom: 0;
	margin-bottom: 0 !important;
	margin-top: 0 !important;
}

.columnSeparator {
	border-left: 1px $neutralLine solid;
	min-height: 100vh;
}

.fixedRow {
	height: 100%;
	overflow: hidden;

	.fixedColumn {
		height: 100%;
		min-height: 100%;
		overflow: hidden;
		overflow-y: scroll;

		&.noScroll {
			overflow: hidden;
		}
	}
}

.noPadding {
	padding: 0 !important;
}

.noMarginOnNarrow {
	@media screen and (max-width: $tabletBreakpoint) {
		padding-top: 0 !important;
	}
}

.fixedColumn {
	height: 100vh;
	overflow: hidden;
	overflow-y: scroll;
}

.flexColumn {
	display: flex;
	flex-direction: column;
}

.bigger {
  font-size: 3rem;
}

.flexColumn {
	display: flex !important;
}

.mainColumn {
	padding: 16px 32px 32px 32px !important;

	@media screen and (max-width: $mobileBreakpoint) {
		padding: 16px !important;
	}
}