@import '~CommonStyles/_vars';

.page {
  margin: 0 $commonMargin;
  color: $color;
  .big {
    font-size: 2rem;
  }
}

.heroVideoFrame {
  width: 100%;
  height: 576px;
  max-height: 40vw;
  position: relative;
}
.heroVideoMask {
  overflow: hidden;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}
.heroContent {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 50%;
  padding-right: 2 * $pageMargin;
  max-width: 720px;
  display: flex;
  align-items: center;
}
.heroVideo {
  width: 100%;
  @media only screen and (min-width: $mobileBreakpoint + 1) {
    margin-top: -15vw;
  }
  @media only screen and (min-width: $maxWidth) {
    margin-top: -16vw;
  }
}

.heroVideoMobileFrame {
  width: 100%;
  height: 0;
  padding-top: 74%;
  position: relative;

  .heroVideoMobile {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.heroDropdownParent {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.heroDropdown {
  min-width: 270px;
}
.heroTitle {
  font: $fontHeroBold;
  @media only screen and (max-width: 1000px) {
    font: $fontH1;
  }
}
.heroSubtext {
  font: $fontLargeNormal;
  @media only screen and (max-width: 1000px) {
    font: $fontMedium;
  }
}

.belowHeaderBanner {
  background: $inputBorder;
  padding: $commonMargin;
  text-align: center;
  width: 100%;
  font: $fontTiny;
  box-sizing: border-box;
}

.highlightsHolder {
  flex-direction: column;
  display: flex !important;
  justify-content: stretch;
}

.trustpilot {
  font: $fontTiny;
  @media only screen and (max-width: 940px) {
    display: none;
  }
}
.trustpilotRating {
  margin: -3px 0 2px;
}
.resetLink {
  text-decoration: none !important;
  color: $dark !important;
}
