@import '~CommonStyles/_vars';

.confirmationHeader {
  height: 182px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: $inputBorder;
}

.confirmationLegend {
  background: white;
  font: $fontMediumBold;
  border-radius: $mainBorderRadius;
  padding: $mainBorderRadius $commonMargin;
  display: flex;
  align-items: center;
  img {
    height: 20px;
    margin-right: 10px;
  }
}
