@import '~CommonStyles/_vars';

.buySection {
  background: $backgroundColor;
}

.bottomSpace {
  height: 150px;
}

.afterBelowHeaderBanner {
  margin-top: 50px;
}

.belowHeaderBanner {
  background: $inputBorder;
  padding: $commonMargin;
  text-align: center;
  width: 100%;
  font: $fontTiny;
  box-sizing: border-box;
  margin: -10px 0px;
  position: absolute;
  left: 0;
  right: 0;
}

.topScarcity {
  color: $negative;
  font: $fontTiny;
  text-align: center;
  margin: $commonMargin auto;
}

.topUSPs {
  margin-top: 1 * $commonMargin;
  > div {
    flex-grow: 1;
    border-right: 2px solid $divider;
    text-align: center;
    font: $fontButtonMedium;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    > svg,
    img {
      margin-right: 8px;
      max-height: 25px;
    }

    &:last-child {
      border: 0;
    }
  }
}

.mobileBanner {
  background: $neonBackground;
  padding: $commonMargin * 0.5 $commonMargin;
  border-radius: 4px;
  .closeButton {
    background: $neon;
    padding: 2px 8px;
    border-radius: 13px;
    cursor: pointer;
    font-weight: bold;
  }
}
