@import '~CommonStyles/_vars';

.sellingColumn {
	background: #333;
	color: white;
  background-size: cover;

  .hero {
  	font: $fontHeroBold;
  }
  .subhero {
    font: $fontHeroText;
  }
}

.column {
	display: flex !important;
  flex-direction: column;
  justify-content: safe center;
  padding: 0 8% !important;
	min-height: 103vh;
}

.logo {
  height: 70px;
  width: 70px;
  margin: $commonMargin 0;
}

.heroContainer {
  max-width: 381px;
  margin: 0 auto;
}