@import '~CommonStyles/_vars';

.content {
  padding: $commonMargin $pageMargin !important;

  p {
    margin-bottom: 10px;
  }
}

.question {
  font: $fontMediumBold;
  margin-bottom: $commonMargin;
}
.item {
  border-bottom: 1px solid $divider;
  padding-bottom: $commonMargin;
  margin-bottom: $commonMargin;
}
