@import '~CommonStyles/_vars';

.membersTable {
	width: 100%;
}

.memberLine {
	display: flex;
	align-items: center;
	flex-flow: row wrap;
	box-sizing: border-box;
	width: 100%;
	justify-content: stretch;
	padding: 10px 0;

	&.deleting {
		opacity: 0.5;
	}
}

.memberForm {
	align-items: flex-start;
}

.memberCell {
	flex: 1 1 0;
	margin: 0 10px;
}

.avatarCell {
	margin-right: 15px;
  flex-grow: 0;
}

.nameCell {
	flex-basis: 500px;
}

.inviteEmailCell {
	flex-basis: 683px;
	margin-left: 0;
}
.statusCell {
	flex-basis: 60px;
}
.roleCell {
	flex-basis: 200px;
}
.revokeCell {
	flex-basis: 120px;
}

.horizontalSeparator {
	border-top: 2px solid $neutralLine;
	margin-bottom: 30px;
}

.roleLine {
	margin-bottom: 15px;
}
.roleName {
	font-weight: bold;
}
.rolesDescription {

}

.successMessage {
	margin: -10px 0 $commonMargin 0;
}