@import '../../root/_vars-widget.scss';

.rateFrame {
	display: block;
}

.rateContainer {
	display: flex;
	justify-content: space-between;

}

.rate {
	cursor: pointer;

	&.isolated {
	}

	&:hover {
		opacity: 0.7;
	}

	&.disabled {
		opacity: 0.2;
		cursor: normal;
		background: transparent;
	}

	&.selected {
		color: white;
		opacity: 1;
	}

}

.rateTitle {
	margin-bottom: $commonMargin;
}