@import '../root/_vars-widget.scss';

.trigger {
	position: fixed;
	right: 5px;
	left: auto;
	bottom: 5px;
	&.left {
		right: auto;
		left: 5px;
	}
	width: $triggerSize;
	height: $triggerSize;
	border-radius: $triggerSize;
	background: var(--theme-color);
	cursor: pointer;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.32);

	&.standAlone {
		left: auto;
		right: $lateralSpace;
		bottom: $verticalSpace;

		&.left {
			right: auto;
			left: $lateralSpace;
		}
	}

	&.inline {
		position: relative;
		top: $verticalSpace;
		left: 312px !important;
		&.left {
			left: 0 !important;
		}
	}
}

.logo {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 26px;
	height: 26px;
	margin: -11px;
}

.close {
	position: absolute;
	top: 50%;
	left: 50%;
  width: 40px;
  height: 40px;
  margin: -15px -21px;
}
