@import '~CommonStyles/_vars';

.cellLabel {
	float: left;
	margin-right: 10px;
	margin-top: 9px;
	font: $fontSmall;
}
.dayName {
	font: $fontSmallBold;
}
.hourInput {
	min-width: 80px !important;
	width: 80px !important;
	display: inline-block;
}

.dayNameCell {
	max-width: 110px;
}
.toggleCell {
	max-width: 90px;
}
.hourCell {
	width: 150px;
}

.isWizard {
	.hourCell {
		min-width: 140px;
	}
}

.clickable {
	cursor: pointer;
}