@import '~CommonStyles/_vars';

.selectedNumber {
	font: $fontSmall;
	margin-left: #{$commonMargin / 2};
}

.extendableMenu {
	position: relative;

	.tip {
		position: absolute;
		right: 5px;
		top: 50%;
		margin-top: -5px;
		transform: rotate(-90deg);
		height: 12px;
		width: 12px;
	}

	.extended {
		display: none;
		border: 1px solid $neutralLine;
		border-radius: 5px;
	}

	.extendedItem {
		background: white;
		width: 100%;
		padding: #{$commonMargin / 1.5} $commonMargin;
		&:hover {
			background: $white20;
		}
	}

	&:hover {
		.extended {
			display: block;
			position: absolute;
			left: 100%;
			top: 0;
		}
	}
}

.contactsMenuRow {
	margin: 12px 0 $commonMargin 0;
}

.contactsActions {
	display: flex !important;
	align-items: center;
	justify-content: flex-start;
}
.contactsFilters {
	display: flex !important;
	align-items: center;
	justify-content: flex-end;
}

