@import '~CommonStyles/_vars';

.actionHeader {
	clear: both;
	border-bottom: 1px solid $neutralLine;
	display: flex;
	justify-content: space-between;
	padding-bottom: #{$commonMargin * 0.5};
	margin: #{$commonMargin * 1.5} 0 #{$commonMargin * 1};
	flex-shrink: 0;
}
.separator {
	margin: #{$commonMargin * 1.5} 0 #{$commonMargin * 1.5};
}
.action {
	text-align: right;
	white-space: nowrap;
	display: flex;
	color: $accent;
	cursor: pointer;
	text-transform: uppercase;
	font: $fontSmallBold;

	.icon {
		margin-left: 5px !important;
		font-size: 16px !important;

		color: $accent;
	}

	&:hover {
		color: $accent60;
		.icon {
			color: $accent60 !important;
		}
	}

	&:active {
		color: $accent120;
		.icon {
			color: $accent120 !important;
		}
	}
}
.title {
	font: $fontMediumBold;
}