@import '~CommonStyles/_vars';

.capsule {
	font: $fontSmallBold;
	display: flex;
	align-items: center;
	text-transform: capitalize;
}

.inline {
	display: inline-flex;
	margin-right: #{$commonMargin * .75}
}

.bubble {
	background: white;
	border-radius: 3px;
	padding: 3px 5px;
}

.closeButton {
	margin: 0 0 0 5px !important;
	cursor: pointer;
	height: auto !important;
}