@import '~CommonStyles/_vars';

.holder {
  display: flex;
  align-items: center;
}
.value {
  width: 40px;
  background: transparent;
  color: #000 !important;
  text-align: center;
  font: $fontButtonRegular;
}

.button {
  background: $inputBorder;
  padding: 5px;
  font: $fontButtonRegular;
  border-radius: 20px;
  border: 1px solid $neutralLine;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  width: 30px;
}
