@import '~CommonStyles/_vars';

.pagination {
	text-align: center;
	margin-top: 15px;
	color: $white60;

	.navButton {
		padding: 5px;
		font-size: 24px;
		vertical-align: middle;
		position: relative;
		top: -2px;
		cursor: pointer;
		color: $black60;
		margin: 0 5px;
		&.disabled {
			color: $white20;
			cursor: default;
		}
	}
}