@import '~CommonStyles/_vars';

.holder {
	display: flex;
	align-items: center;
}

.legend {
	margin-left: 10px;
	font: $fontSmall;
	color: $black60;
}

.button {
	min-width: 200px;
	text-align: center;
	text-align: center !important;
  justify-content: center;
}