@import '~CommonStyles/_vars';

.inputWrapper {
  position: relative;
  width: 100%;
  text-align: left;

  &.inline {
    display: inline-block;
    width: auto;
    margin-right: 15px;
  }
  &.noMargin {
    margin: 0;
  }
  .validHint {
    img {
      margin-left: 5px;
    }
  }
  .invalidHint {
    img {
      margin-left: 5px;
      position: relative;
      top: 1px;
    }
  }
}
.input {
  position: relative;

  .addressInput {
    > input {
      padding-left: 90px !important;
    }
  }

  .addon {
    position: absolute;
    top: 15px;
  }
  .rightAddon {
    right: 12px;
  }
  .leftAddon {
    left: 12px;
  }
  .currencyAddon {
    font-size: 12px;
  }
  .coinAddon {
    font-size: 16px;
  }
}

.textarea {
  width: 100%;
  border: 1px solid $inputBorder;
  background: $inputBackground;
  color: $input-text;
  padding: 10px 12px;
}

.colorPickerInput {
  position: relative;

  .colorPickerContainer {
    position: absolute;
    top: 100%;
    z-index: 1;
    margin-top: 5px;
  }

  .colorSwatch {
    height: 24px;
    width: 24px;
    border-radius: 50px;
    border: 2px solid #ddd;
    position: absolute;
    right: 10px;
    top: 6px;
    pointer-events: none;
  }
}

.hidden {
  display: none;
}

.uploadAction {
  color: $accent;
  text-transform: uppercase;
  font: $fontSmallBold;
  display: inline-block;
  margin-left: $commonMargin;
  margin-top: 6px;
  cursor: pointer;
  .createIcon {
    font-size: 14px;
    vertical-align: top;
  }
  .recommendation {
    font: $fontMini;
    color: $white60;
    text-transform: none;
    margin-top: 3px;
  }
}

.avatarInputContainer {
  overflow: hidden;
  min-width: 360px;
}
.avatarHolder {
  float: left;
}
.avatarInputLegend {
  float: left;
}

.avatar {
  width: 46px;
  height: 46px;
  border-radius: 8px;
  border: solid 1px $white20;
  background-color: $white10;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  &.rounded {
    border-radius: 1000px;
  }
}

.uploadInputIcon {
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}

.uploadLoadingIcon {
  position: absolute !important;
  left: 100% !important;
  top: 11px !important;
  margin-left: -25px !important;
}

.searchAddon {
  position: absolute;
  right: 5px;
  top: 3px;
  color: #ccc;
  cursor: pointer;
  padding: 5px;
}

.topHolder {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label,
.label label {
  display: inline-block;
  font: $fontSmallBold !important;
  margin-bottom: 7px;
  text-align: left;
}

.radioItem {
  margin-bottom: #{$commonMargin / 2};
}

.avatarHolderFull {
  width: 100%;
}

.addButton {
  color: $accent;
  text-transform: uppercase;
  font: $fontMediumBold;
  padding: 5px 0;
  cursor: pointer;
  display: inline-block;

  &:hover {
    color: $accent60;
    i {
      color: $accent60 !important;
    }
  }
  &:active {
    color: $accent120;
    i {
      color: $accent120 !important;
    }
  }
}

.checkboxError {
  margin-top: -3px;
}

.noMarginLabel {
  margin-bottom: 0;
}

.topError {
  margin-top: 0;
}

.searchAddonButton {
  text-transform: none !important;
  padding-top: 6px !important;
}

.avatarError {
  text-transform: none;
  font-size: 11px;
  margin-top: 2px !important;
}

.radioSelector {
  display: inline-block;
  height: 25px;
  width: 25px;
  border-radius: 25px;
  border: 1px solid $divider;
  margin-right: $commonMargin;
  position: relative;

  &.checked:after {
    content: '';
    background: $accent;
    height: 15px;
    width: 15px;
    border-radius: 25px;
    position: absolute;
    left: 4px;
    top: 4px;
  }
}
