@import '../../root/_vars-widget.scss';

.optionsHolder {
	margin: $commonVerticalMargin 10%;
	&.small {
		margin: 0;
	}
}

.optionsTitle {
	font: $fontMedium;
	color: $white60;
	text-align: center;
	margin: $commonVerticalMargin 0;
}
.option {
	cursor: pointer;

	&.selected {
		background: red;
		color: white;
		cursor: default;
	}

	&.disabled {
		cursor: default;
		opacity: 0.6;
	}

	&.small {
		button {
			font: $fontMediumBold !important;
			float: right;
			width: auto;
			outline: 0;
		}
	}
}

