@import '~CommonStyles/_vars';

.columnTitle {
	font: $fontMediumBold;
}

.list {
	border: 1px solid white;
	padding: 10px;
	width: 100%;
	table-layout: fixed;
  border-collapse: collapse;
}

.header {
	font-weight: bold;
}

.item {
	transition: color 0.2s ease;
	width: 100%;
	font: $fontSmall;
	text-transform: capitalize;

	&:hover {
		td { background: $white10; }
	}
}

.moduleName {
	font: $fontSmallBold;
}

.itemInner {
	padding: 10px;
	background: white;
	justify-content: stretch;
}

.isDragging {
	display: table;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.11);
}

.draggable {
	cursor: move;
}