@import '~CommonStyles/_vars';

.slashAddon {
	color: #ccc;
	position: absolute;
	left: 14px;
	margin-top: -9px;
	top: 50%;
	font-weight: bold;
}

.shortcutInput {
	input {
		padding-left: 20px !important;
	}
}

.messageColumn {
	width: 60%;
}
.shortcutColumn {
	width: 40%;
}
.deleteColumn {
	width: 50px;
}

.actionName {
	font: $fontSmallBold;
	color: $black60;
}

.actionRow {
	font: $fontSmall;
	color: $white60;

	> td {
		padding-top: $commonMargin !important;
	}
}