@import '~CommonStyles/_vars';

.list {
	border: 0;
	padding: 0;
	width: 100%;
	table-layout: fixed;
}

.header {
	font-weight: bold;
}

.item {
	transition: color 0.2s ease;
	width: 100%;
}

.itemInner {
	padding: 10px 32px 10px 0;
	background: white;
	justify-content: stretch;

	&:last-child {
		padding-right: 0;
	}
}

.isDragging {
	display: table;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.11);
}

.draggable {
	cursor: move;
}

.labelCell {
	padding: 0;
	font: $fontSmallBold;
}

.bigCell {
	width: 40%;
}
.minCell {
	width: 100px;
}

.deleteIcon {
	color: $accent;
}

.wizard {
	margin: 0 !important;

	&.spaceTop {
		margin-top: 16px !important;
	}
	
	.itemInner {
		padding: 10px 16px 10px 0;
		text-align: center;
	}
	.minCell {
		width: 70px;
    min-width: 70px;
	}
}