@import '~CommonStyles/_vars';

.modalClose {
  z-index: 10;
  position: absolute;
  right: 24px;
  top: 24px;
  cursor: pointer;
}

.header {
  border-bottom: 0 !important;
}

.content {
  padding-top: 0 !important;
}

.message {
  margin-bottom: 16px !important;
}

.line {
  display: flex;
  justify-content: space-between;
}

.imgBlock {
  display: flex;
  float: left;
  width: 45%;
  margin-right: 5%;
  border: 2px $neutralLine solid;
  padding: 8px;
  border-radius: 4px;
  margin-bottom: 8px;
  cursor: pointer;
  &:hover {
    border-color: $accent;
  }
}

.closeIcon {
  position: absolute;
  right: 12px;
  top: 8px;
  cursor: pointer;
}

.headerWithShadow {
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2) !important;
  position: relative;
  padding-bottom: $commonMargin !important;
}
