@import '~CommonStyles/_vars';

.preview {
	background: #ddd;
	padding: 0 !important;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100%;
  border-right: white 14px solid;
  border-left: white solid 6px;
}

.emailPreview {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100%;
	padding: 0;

	> p, div {
		margin-bottom: 15px;
	}
}

.avatar {
	max-width: 50%;
	max-height: 150px;
	margin-bottom: 20px;
}
.emailPreviewContent {
	background: white;
	border-radius: 5px;
	border-top: $accent 8px solid;
	width: 100%;
  padding: 20px;

}
.poweredByWiri {

}