@import '~CommonStyles/_vars';

.footer {
  background: $dark;
}

.staticMenuModels {
  width: 100%;
  font: $fontMedium;
  -webkit-column-count: 5;
  -moz-column-count: 5;
  column-count: 5;

  @media only screen and (max-width: $tabletBreakpoint) {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }

  @media only screen and (max-width: $mobileBreakpoint) {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }

  -webkit-column-gap: 3 * $commonMargin;
  -moz-column-gap: 3 * $commonMargin;
  column-gap: 3 * $commonMargin;

  a {
    margin-bottom: $commonMargin;
    text-decoration: none;
    color: $dark;
    display: block;

    svg {
      transform: translateY(3px);
    }
  }
}

.staticMenu {
  width: 40%;
  a {
    color: white;
    display: block;
    text-decoration: none;
    margin-bottom: $commonMargin;
    font: $fontMedium;
  }
}

.betterPlanetImg {
  display: flex;
  justify-content: space-between;
  img {
    width: 130px;
    @media only screen and (max-width: $mobileBreakpoint) {
      width: 47% !important;
      height: 47%;
    }
  }
}

.tagLink {
  border: 2px solid $inputBorder;
  padding: $commonMargin;
  border-radius: $mainBorderRadius;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 2 * $commonMargin;
}

.bottomSpace {
  height: 150px;
}

.questionsLink {
  background: white;
  border-color: $divider !important;
  margin: 0 auto;
  max-width: 400px;
}

.address {
  color: white;
}
