@import '../../root/_vars-widget.scss';

.rlc-calendar {
  width: 100%;
  color: #565656;
  font: $fontLead;
}

.rlc-days, .rlc-days-label {
  width: 100%;
}

.rlc-days-label {
  text-transform: uppercase;
  font-size: 10px;
  border-bottom: 1px solid $neutralLine;
  z-index: 1;
  position: relative;
  height: 50px;
}

.rlc-days {
  font-size: 12px;
}

.rlc-day, .rlc-day-label {
  display: inline-flex;
  display: -ms-inline-flex;
  display: -webkit-inline-flex;
  justify-content: space-around;
  align-items: center;
  width: 14.28%;
  height: 34px;
  text-align: center;
  box-sizing: border-box; }

.rlc-day {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  position: relative;

  .background {
    position: absolute;
    /*z-index: -1;*/
    height: 100%;
    border-radius: 1000px;
    img {
      height: 100%;
    }
  }

  .dayNumber {
    position: relative;
    z-index: 1;
  }

  &:hover .background {
    background-color: $white30;
  }
}

.rlc-day-today {
  color: $black90;
  .background {
    background-color: $white60;
  }
  border-radius: 50%;

  &.rlc-day-disabled {
    color: $white;
  }
}

.rlc-day-default:hover {
  .background {
    background-color: #f3f3f3;
  }
  color: #868686;
  border-radius: 50%;
}

.rlc-day-out-of-month {
  color: $white60; }

.rlc-day-end-selection, .rlc-day-inside-selection, .rlc-day-selected, .rlc-day-start-selection {
  color: #fff;
  .background {
    background-color: var(--theme-color);
  }
}

.rlc-day-end-selection:hover, .rlc-day-inside-selection:hover, .rlc-day-selected:hover, .rlc-day-start-selection:hover {
  .background {
    background-color: var(--theme-color-active);
  }
}

.rlc-day-selected {
  border-radius: 50%; }

.rlc-day-start-selection {
  border-radius: 50% 0 0 50%;
}

.rlc-day-end-selection {
  border-radius: 0 50% 50% 0;
}

.rlc-day-start-selection.rlc-day-end-selection {
  border-radius: 50%;
}

.rlc-day-inside-selection {
  border-radius: 0; }

.rlc-day-disabled {
  cursor: default;
  color: $white60;
}

.rlc-day-disabled, .rlc-day-disabled:hover {
  /*background-color: #f5f5f5; */
}

.rlc-month-and-year-wrapper {
  display: flex;
  display: -ms-flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 5px;
}

.rlc-month-and-year {
  flex-grow: 2;
  text-align: center;
  font: $fontH3;
}

.rlc-navigation-button-wrapper {
  display: flex;
  display: -ms-flex;
  display: -webkit-flex;
  justify-content: space-around;
  flex-grow: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  &.rlc-nexts {
    svg {
      transform: rotate(180deg);
    }
  }
}

.rlc-navigation-button {
  cursor: pointer;
  svg {
    height: 20px;
    width: 20px;
    path {
      fill: $white60;
    }
  }

}

.rlc-details {
  display: flex;
  display: -ms-flex;
  display: -webkit-flex;
  justify-content: space-between; }

.rlc-date-details-wrapper {
  flex-grow: 1;
  margin: 5px 0; }

.rlc-date-details {
  display: flex;
  display: -ms-flex;
  display: -webkit-flex;
  align-items: center;
  flex-grow: 1; }

.rlc-date-number {
  font-size: 35px;
  padding: 0 5px; }

.rlc-date-day-month-year {
  font-size: 12px; }

.rlc-detail-day {
  margin-bottom: 2px; }

.rlc-detail-month-year {
  text-transform: uppercase; }

.rlc-date-time-selects {
  padding: 0 10px; }

.rlc-separator {
  margin: 0 5px; }

.fullMonthlyCalendar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .rlc-day-today {
    .background {
      display: none;
    }
  }

  .rlc-days {
    flex-grow: 1;
    border-top: 1px solid $neutralLine;
    flex-basis: 1px;

    .day-7rows {
      height: 14.2%;
    }
    .day-6rows {
      height: 16.5%;
    }
    .day-5rows {
      height: 20%;
    }
    .day-4rows {
      height: 25%;
    }

    .rlc-day {
      border-bottom: 1px solid $neutralLine;
      border-right: 1px solid $neutralLine;
      border-radius: 0;
      position: relative;
      margin-top: -1px;
    }
  }
}

.fullMonthlyCalendar, .fullWeeklyCalendar {
  .rlc-days {
    border-left: 1px solid $neutralLine;

    .rlc-day {
      .background {
        display: none;
      }
    }
  }
  .rlc-days-label {
    position: relative;
    z-index: 1;
    font: $fontMediumBold;
    border: 1px solid $neutralLine;
  }

  .rlc-day-label {
    height: 50px;
    font: $fontMediumBold;
    text-transform: capitalize;
    border-right: 1px solid $neutralLine;
    &:last-child {
      border-right: 0;
    }
  }

  .rlc-day-out-of-month {
    .dayCell {
      background: white !important;
    }
  }
}

.fullDailyCalendar {
  .day-1rows {
    border-right: 1px solid $neutralLine !important;
  }
}

.fullWeeklyCalendar {
  .rlc-days {
    display: flex;
    border-right: 1px solid $neutralLine;
  }
  .rlc-day {
    border-left: 1px solid $neutralLine;
  }
  .rlc-day-today {
    border-radius: 0;
    background: transparent;
  }
  .rlc-first-of-month {
    /*border-left: 2px solid blue;*/
  }
  .day-1rows {
    height: 100%;
    align-items: start;
    flex-direction: column;
    overflow: hidden;
  }
  .hoursLabels {
    width: 100px;
    border-left: 0;

    @media screen and (max-width: 767px) {
      width: 60px;
    }
  }
}