@import '~CommonStyles/_vars';

.header {
  width: 100%;
  height: $headerHeight;
  margin-bottom: 10px;
  color: $primary;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: $pageMargin;
  padding-left: $pageMargin;
  @media only screen and (max-width: $mobileBreakpoint) {
    padding-right: $commonMargin;
    padding-left: $commonMargin;
  }
  background: white;

  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
  z-index: 101;

  &.isCart {
    margin-bottom: 0;

    .logoHolder {
      flex-grow: 0;
    }
  }

  &.fixed {
    position: fixed;
    top: 0;
  }
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
}

.mobileLogoHolder {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  overflow: visible;
  height: 1px;
  top: 0;
  &.cart {
    text-align: left;
    margin-left: 0 !important;
    padding-top: 0 !important;
  }
  img,
  svg {
    margin-top: 6px;
  }
}

.menu {
  a {
    margin-right: 1.2 * $commonMargin;
    font: $fontButtonMedium;
    color: $primary;
    text-decoration: none;
  }

  &.mobileMenu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $dark;
    color: white;
    z-index: 2000;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);
    min-width: 50%;
    overflow-y: scroll;

    .mobileLogoHolder {
      top: 12px;
    }

    .headerMenu {
      height: 54px;
      text-align: center;
      box-sizing: border-box;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      margin-left: 2 * $commonMargin;
      margin-right: 2 * $commonMargin;

      .close {
        margin-right: 0.5 * $commonMargin;
        transform: translateY(3px);
      }
    }
  }
}

.mobileItems {
  padding-bottom: 50px;

  > div,
  > a {
    border-top: 1px solid $subtext;
    min-height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding-left: $pageMargin;
    padding-right: $pageMargin;
    margin-right: 0;
    text-decoration: none;
    font: $fontButtonRegular;

    &.product {
      padding-left: 3 * $commonMargin;
    }
  }
}

.logo {
  font: $fontLarge;
  color: $primary;
  cursor: pointer;
}

.userName {
  display: block;
  font: $fontButton;
  text-decoration: none;
}

.userAccount {
  display: block;
  font: $fontMini;
  color: $dark;
  line-height: 10px;
  padding-top: 5px;
}

.cartHolder {
  position: relative;
  cursor: pointer;
}
.cartNumber {
  position: absolute;
  font: $fontMiniBold;
  color: white;
  background: $negative;
  padding: 2px 5px;
  border-radius: 20px;
  top: 0;
  right: -8px;
}

.cart {
  padding-top: 5px;
  margin-left: $commonMargin;
}

.signInButton {
  border: 2px solid $inputBorder;
  font: $fontSmall;
  padding: 7px 7px;
  border-radius: 10px;
  cursor: pointer;
  &:hover {
    background: $inputBorder;
  }
}

.logoHolder {
  display: flex;
  align-items: center;
  flex-grow: 1;

  .logo {
    transform: translateY(-3px);
  }
}

.menuIcon {
  margin-right: 10px;
  cursor: pointer;
}

.cartDropdown {
  height: 35px;
  border: 2px solid $inputBorder;
  padding: 7px 24px 7px 12px;
  display: flex;
  margin-left: $commonMargin;
  border-radius: 10px;
  align-items: center;
  position: relative;

  .cart {
    margin-left: 0;
    position: relative;
  }

  .cartNumber {
    top: 3px;
  }

  .total {
    margin-left: $commonMargin;
    font: $fontMediumBold;
  }

  &:after {
    content: '⌄';
    position: absolute;
    right: 6px;
    top: 2px;
    font: $fontMediumBold;
  }
}

.searchIcon {
  height: 24px;
}

.actionsContainer {
  margin-left: 1.5 * $commonMargin;
  margin-right: $commonMargin;
}
