@import '~CommonStyles/_vars';

.box {
  position: fixed;
  top: $headerHeight;
  left: 0;
  right: 0;
  background: $dark;
  padding-bottom: 50px;

  bottom: 0;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;

  .header {
    padding: $commonMargin $pageMargin;
    display: flex;
    align-items: center;
    > div:first-child {
      flex-grow: 1;
      margin-right: $commonMargin;
    }

    .input input {
      background: $black60 !important;
      color: white !important;
      border: 0 !important;
      border-radius: 30px;
      font-size: 16px;

      &:focus {
        background: $black60 !important;
        color: white !important;
      }
    }
  }
}
