@import '~CommonStyles/_vars';

.chartFrame {
	background: $white10;
	margin-bottom: 15px;
	padding: 15px;
}

.chartTitle {
	font: $fontSmallBold;
	margin-bottom: 5px;
	display: flex;
	justify-content: space-between;
	align-items: baseline;

	.previousPeriod {
		font: $fontMini;

		.numbers {
			font: $fontTinyButton;
			color: $positive;

			&.negative {
				color: $negative;
			}
		}
	}
}

.tooltip {
	background: white;
	padding: 5px;
	font: $fontTinyButton;
	color: $black60;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.18);
	margin-bottom: 10px;
	border-radius: 3px;
}