@import '~CommonStyles/_vars';

.title {
	font: $fontH1;
}

.label {
	font: $fontSmallBold;
}

.calendarColumn {
	display: flex;
	flex-direction: column;
}

.calendar {
  margin-top: 10px;
  background: $white10;
  padding: 12px 8px;
  border-radius: 4px;
  border: 1px solid $white20;
}