@import '~CommonStyles/_vars';

.mainContainer {
	width: 465px !important;

	&.inline {
		width: calc(100% + 32px) !important;

		.headerRow {
			display: flex;
			direction: column;
		}

		.email, .phone {
			overflow: visible;
			text-overflow: initial;
			white-space: normal;
		}

		.gravatar {
	    position: absolute;
	    left: 50%;
	    border-radius: 200px;
	    margin-left: -25px;
	    top: -75px;
    }

    .nameHolder {
	    margin-top: 50px;
	  }

	  .field {
	  	margin-top: $commonMargin !important;
	  }
	  .bottomField {
	  	margin-top: #{2* $commonMargin} !important;

	  }
	}
}

.gravatar {
	float: right;
	margin-left: 10px;
	border-radius: 200px;
}

.itemIcon {
	color: #cedbdf;
	margin-right: 10px !important;
}

.nameHolder {
	font: $fontLarge;
}

.email, .phone {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.phone {
	font: $fontMediumBold;
}