@import '../../root/_vars-widget.scss';

.chatInput {
	background: white;
	border-top: 1px solid $neutralLine;
	display: flex;
	position: relative;
	flex-shrink: 0;

	&.dropping {
    background: $white30;
    * {
    	pointer-events: none;
    }
	}
}

.textarea {
	border: 0;
	background: transparent;
	resize: none;
	outline: none;
	width: 100%;
	padding: $commonMargin;
	font: $fontLarge;
	color: $black90;
	flex-grow: 90;

	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  	color: $white60;
	}
	&::-moz-placeholder { /* Firefox 19+ */
	  color: $white60;
	}
	&:-ms-input-placeholder { /* IE 10+ */
	  color: $white60;
	}
	&:-moz-placeholder { /* Firefox 18- */
	  color: $white60;
	}
}

.errorUpload {
	position: absolute;
  padding: 5px 10px;
  left: $commonMargin;
  right: $commonMargin;
  top: auto;
  bottom: 100%;
  text-align: left;
  font: $fontMedium;
  box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.4);
  background: white;
  color: $negative;
  z-index: 1;
  margin-bottom: $commonMargin;
  border-radius: 3px;
  cursor: pointer;
}

.buttonsHolder {
	display: flex;
	flex-direction: row;
	flex-grow: 0;
	flex-shrink: 0;
	align-items: flex-end;
	cursor: pointer;

	.actionButton {
		padding: $commonMargin 0 $commonMargin 0;

		&:hover {
			.icon {
				path, g {
					fill: $black60;
				}
			}
		}

		.icon {
			height: 30px;
			width: 30px;
			cursor: pointer;
			&.emojiIcon {
				height: 25px;
		    top: -2px;
		    position: relative;
			}
			path, g {
				fill: $white60;
			}
		}

		&.sendButton {
			padding: $commonMargin $commonMargin $commonMargin 0;
			cursor: pointer;
			svg {
				transform: rotate(180deg);
			}
		}
	}

}

.emojiPicker {
	position: absolute;
	bottom: 100%;
	right: $commonMargin;
	margin-bottom: -5px;

	> section {
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.32);
		border: 0;
		input {
			border: 0 !important;
		}
		span {
			font-size: 12px !important;
		}
		button span {
			font-size: 24px !important;
		}
	}

}

.uploadHolder {
	margin: #{$commonMargin / 2 - 1} #{$commonMargin / 2};
	background: white;
	border: 1px dashed $white60;
	color: $white60;
	display: flex;
	flex-grow: 1;
	justify-content: space-between;
	align-items: center;
	padding: 0 #{$commonMargin / 2} 0 $commonMargin;

	.actionButton {
		padding: #{$commonMargin / 2} 0
	}
}