@import '../../root/_vars-widget.scss';

@keyframes :global(fadeIn) {
	0% { opacity: 0 }
	100% { opacity: 1 }
}

.chatMessage :global {
	animation: 0.5s ease-out 0s 1 fadeIn;
}

.chatMessage {
	margin: 5px 0;
	word-break: break-word;
	overflow: hidden;
	position: relative;


	&.UIholder {
		position: relative;
		.bubble {
			width: 100%;
		}
	}

	.UIdimmer {
		cursor: not-allowed;
	}

	.UIcover {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		background: transparent;

	}

	.avatar {
		height: $avatarSize;
		width: $avatarSize;
		border-radius: $avatarSize;
		background-size: cover;
		background-position: center center;
		position: absolute;
		left: 0;
		bottom: 16px;

		&.myAvatar {
			left: auto;
			right: 0;
		}
	}

	.chatMessage {
		word-break: normal;
	}

	&.failed {
		.bubble {
			background: $white60 !important;
			color: $white !important;

			&:after {
				border-top-color: $white60;
			}
		}
	}
}

.bubble {
	$bubbleMargin: 60px;

	border-radius: 3px;
	padding: $commonVerticalMargin $commonMargin;
	background: $white30;
	float: left;
	margin-bottom: $commonMargin;
	position: relative;
	// 60px must equal 2 * $bubbleMargin
	// but calc doesn't accept sass variables
	max-width: calc(100% - 120px);

	margin-left: $bubbleMargin;
	word-break: break-word;
	font: $fontMedium;
	min-width: 50px;

	&.isClient{
		max-width: calc(100% - 60px);
	}

	&:after {
		content: '';
		position: absolute;
		top: 100%;
		left: $commonMargin;
		border-top: 9px solid $white30;
		border-left: 2px solid transparent;
		border-right: 20px solid transparent;
		border-radius: 1px;
	}

	&.isMine {
		background: var(--theme-color);
		color: var(--theme-text-color);
		float: right;

		&:after {
			left: auto;
			right: $commonMargin;
			border-top-color: var(--theme-color);
			border-right-width: 2px;
			border-left-width: 20px;
		}
	}

	&.isOperator {
		background: white;
		&:after {
			border-top-color: white;
		}
		&.isMine {
			background: $accent;
			margin-right: $bubbleMargin;
			&:after {
				border-top-color: $accent;
			}

			.UIdimmer {
				background: white;
				color: $black90;
				pointer-events: none;
				padding: $commonMargin;
				border-radius: 3px;
			}
		}
	}


}

.withEmoji {
	vertical-align: middle;

	&.emojiLarger {
		font-size: 36px;
		> span {
			font-size: 36px;
		}
	}

	> span {
		font-size: 22px;
	}
}
