@import '../../root/_vars-widget.scss';

.chatContainer {
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	flex-shrink: 1;
	flex-grow: 1;

	.messagesContainer {
		flex-grow: 1;
		overflow-y: auto;
		padding: $commonMargin;
		background: $white10;
	}

}

.date {
	display: flex;
	justify-content: center;
	align-items: center;
	color: $white60;
	font: $fontLead;
	margin: $commonMargin 0;
	text-transform: uppercase;

	&:before, &:after {
		content: '';
		width: 20px;
		border-top: 1px solid $white60;
		margin: 0 10px;
	}
}

.messageStatus {
	clear: both;
	text-align: right;
	color: $white60;
	font: $fontSmall;
}

.typing {
	margin: #{$commonMargin /  2} 0;
	font-size: $fontMedium;
	color: $white60;
}
