@import '~CommonStyles/_vars';

.order {
  width: 100%;
  margin-bottom: $commonMargin;
  border: 1px solid $divider;
  padding: $commonMargin $commonMargin 0 $commonMargin;
  border-radius: $mainBorderRadius;
}

.header {
  display: flex;

  > div {
    padding: $commonMargin;
  }
}

.date {
  color: $subtext;
}

.header {
  border-bottom: 1px solid $divider;
  margin-bottom: 2 * $commonMargin;
  padding-bottom: $commonMargin;
  justify-content: space-between;
  > div {
    padding: 0;
  }
}
@media only screen and (min-width: $mobileBreakpoint + 1) {
  .content {
    display: flex;

    .products {
      width: 64%;
      margin-right: 4%;
    }
    .actions {
      width: 32%;
      flex-shrink: 0;
    }
  }
}
