@import '~CommonStyles/_vars';

.orderProduct {
  padding: $commonMargin;
  border: 1px solid $divider;
  border-radius: $mainBorderRadius;
  font: $fontButtonRegular;
  margin-bottom: $commonMargin;
  background: white;

  &.nested {
    padding: 0;
    border: 0;
    margin-bottom: $commonMargin !important;
  }
  &.inline {
    border: 0;
    border-bottom: 1px solid $divider;
    border-radius: 0;
    margin-bottom: 0 !important;
  }
}

.header {
  margin-bottom: $commonMargin;
}

.body {
  display: flex;
  align-items: start;
}

.status {
  font: $fontLarge;
}

.checkbox {
  width: 20px;
}

.imageHolder {
  height: 80px;
  width: 80px;
  margin-right: $commonMargin;
  display: flex;
  justify-content: center;
  align-items: center;
}
