@import '~CommonStyles/_vars';

.accessoryProduct {
  background: white;
  padding: 10px $commonMargin;
  border-radius: $mainBorderRadius;
  margin-top: $commonMargin;

  @media only screen and (min-width: $mobileBreakpoint + 1) {
    display: flex;
    border: 1px solid $divider;
    border-radius: $mainBorderRadius;
    justify-content: space-between;
    align-items: start;
  }
}

.head {
  display: flex;
  .img {
    margin-right: $commonMargin;
  }
  .name {
    font: $fontButtonMedium;
    margin-bottom: 0.5 * $commonMargin;
  }
  .price {
    font: $fontLarge;
  }
}

.body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5 * $commonMargin;
}

@media only screen and (max-width: $mobileBreakpoint) {
  .column {
    width: 46%;
  }
}
