@import '~CommonStyles/_vars';

.box {
  position: fixed;
  bottom: 0;
  height: 90px;
  background: white;
  width: 100%;
  margin: 0;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.1);
  left: 0;
  z-index: 100;
  border-radius: 5px 5px 0 0;
  transition: height 0.7s ease;
  &.extended {
    height: 85%;
  }
}

.fixedBox {
  padding: $commonMargin $pageMargin $commonMargin $pageMargin;
  height: auto;
  @media only screen and (max-width: $mobileBreakpoint) {
    padding: $commonMargin;
  }
}

.topContent {
  padding: 24px 32px;
  @media only screen and (max-width: $mobileBreakpoint) {
    padding-left: $commonMargin;
    padding-right: $commonMargin;
  }
  display: flex;
  position: relative;
  &:before {
    content: '';
    width: 48px;
    height: 6px;
    top: 10px;
    left: 50%;
    margin-left: -24px;
    border-radius: 4px;
    background: $inputBorder;
    position: absolute;
  }
}

.left {
  flex-grow: 1;
}

.left,
.right {
  //flex-basis: 47%;
}

.warranty {
  font: $fontSmallBold;
  display: flex;
  margin-top: 5px;
}

.warrantyIcon {
  margin-right: 5px;
}

.originalPrice {
  font: $fontMedium;
  text-decoration: line-through;
  color: $black30;
}
.price {
  font: $fontLarge;
  margin-right: 10px;
  margin-bottom: 10px;
}

.modalBackground {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
}

.addons {
  background: $inputBorder;
  position: absolute;
  left: $pageMargin;
  right: $pageMargin;
  bottom: $pageMargin;

  @media only screen and (max-width: $mobileBreakpoint) {
    left: $commonMargin;
    right: $commonMargin;
    bottom: $commonMargin;
  }
  top: 100px;
  padding: $commonMargin;
  border-radius: 6px;
  overflow-y: scroll;
}

.accessoryProduct {
  background: white;
  padding: 10px;
}
