@import '~CommonStyles/_vars';

.carriers {
  display: flex;
  align-items: center;
  max-width: 100%;
}

.carrierSwatch {
  max-height: 25px !important;
  max-width: 75px !important;
  margin-right: 5%;

  @media only screen and (max-width: $mobileBreakpoint) {
    max-width: 21% !important;
  }
}

.firstLineValue {
  padding-bottom: 0px;
  font: $fontMediumBold;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .legend {
    font: $fontSmallBold;
    color: $white80;
    transform: translateY(-4px);
  }

  .secondLineValue {
    border: 0;
    padding-top: 0px;
    margin-top: 0px;
    margin-left: 2 * $commonMargin;

    @media only screen and (max-width: 1190px) {
      display: none;
    }

    img {
      max-height: 18px !important;
      &.ATT_logo {
        transform: translateY(1px);
        max-height: 24px !important;
      }
      &.sprint-nextel {
        max-height: 24px !important;
        transform: translateY(-1px);
      }
      &.verizon {
        transform: translateY(-1px);
      }
      &.tmobile {
        transform: translateY(1px);
        max-height: 14px !important;
      }
    }
  }
}

.secondLineValue {
  border-top: 2px solid $inputBorder;
  padding-top: 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.input {
  border: 1px solid $divider;
  padding: 10px $commonMargin;
  border-radius: 6px;

  &:hover {
    border-color: $dark;
  }

  > .secondLineValue {
    @media only screen and (min-width: 1189px) {
      display: none;
    }
  }
}

.chevron {
  transform: translateY(7px);
}

.options {
  margin-right: -$commonMargin;
}
.option {
  border-bottom: 2px solid $inputBorder;
  padding: $commonMargin;
  height: 60px;
  flex-grow: 1;
  flex-basis: 40%;
  margin-right: $commonMargin;

  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  &:hover {
    background: $inputBorder;
  }

  &.unlocked {
    justify-content: space-between;
    align-items: center;
    padding: $commonMargin 2 * $commonMargin;
    margin-bottom: 8px;
    .spaced {
      display: flex;
      justify-content: space-between;

      &:first-child {
        margin-bottom: $commonMargin * 0.5;
      }
    }
  }

  .strtalk {
    max-height: 40px !important;
    transform: translateY(1px);
  }

  .mintmbl,
  .googlefi {
    max-width: 110px !important;
  }
  .boost {
    max-width: 140px !important;
  }
  .conscell,
  .xfinity {
    max-width: 125px !important;
  }
  .uscell {
    max-width: 105px !important;
    max-height: 55px !important;
    transform: translateY(3px);
  }
}

.onlySecondLine {
  font: $fontTiny;

  @media only screen and (max-width: $mobileBreakpoint) {
    text-align: center;
    margin-bottom: $commonMargin;
    .secondLineValue {
      justify-content: center;
    }
  }

  > div:first-child {
    margin: 16px 0 -12px;
  }
  .secondLineValue {
    border-top: 0;
  }
  .carrierSwatch {
    margin-right: 12px;
  }
  img {
    max-height: 18px !important;
    &.ATT_logo {
      transform: translateY(1px);
      max-height: 18px !important;
    }
    &.sprint-nextel {
      max-height: 18px !important;
      transform: translateY(-1px);
    }
    &.verizon {
      max-height: 14px !important;
      transform: translateY(-1px);
    }
    &.visible,
    &.cricket {
      max-height: 14px !important;
      transform: translateY(-1px);
    }
    &.boost {
      max-width: 110px !important;
      max-height: 20px !important;
      transform: translateY(1px);
    }
    &.consumer-cellular {
      max-width: 90px !important;
    }
    &.tmobile {
      transform: translateY(1px);
      max-height: 12px !important;
    }
    &.xfinity-mobile {
      max-width: 97px !important;
      transform: translateY(2px);
    }
    &.metro {
      transform: translateY(4px);
    }
    &.straight-talk {
      max-height: 22px !important;
    }
    &.us-cellular {
      max-height: 37px !important;
      transform: translateY(2px);
      margin-right: 8px;
    }
  }
}
