@import '~CommonStyles/_vars';

.colorSwatch {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  display: inline-block;
  margin-right: 10px;
  position: relative;
  border: 2px solid white;
  z-index: 1;
  cursor: pointer;

  &.selected {
    &::before {
      z-index: 0;
      content: '';
      width: 30px;
      height: 30px;
      border-radius: 30px;
      position: absolute;
      left: -2px;
      top: -2px;
      border: 17px solid black;
    }
  }
}

.colorName {
  font: $fontButton;
  margin: -5px 0 5px;
}
