@import '~CommonStyles/_vars';

.grid {
  margin-top: $commonMargin !important;
  @media only screen and (min-width: $mobileBreakpoint + 1) {
    border-radius: $mainBorderRadius;
  }
}

.column {
  margin-top: 2 * $commonMargin;
  padding-top: $commonMargin;
}

.pricesHolder {
  position: relative;
}

.loading {
  opacity: 0.5;
}

.banner {
  position: absolute;
  top: -52px;
  background: white;
  width: 100%;
  text-align: center;
  white-space: nowrap;

  padding: 10px $commonMargin;
  border-radius: $mainBorderRadius;
  border: 1px solid $divider;
  font-weight: 500;
  align-items: center;
  display: flex;
  justify-content: center;
  svg {
    margin-right: 8px;
  }
  b {
    font-weight: 500;
    text-decoration: underline;
    margin-left: 4px;
  }
}

.ownPrice {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
