@import '~CommonStyles/_vars';

.screen {
  display: flex;
  justify-content: center;
  padding: $commonMargin 0;
}

.slider {
  display: flex;
  justify-content: center;
  padding: $commonMargin;
}

.imageBullet {
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: $white60;
  margin-right: $commonMargin;
  display: inline-block;

  &.selected {
    background: $dark;
  }
  &:last-child {
    margin-right: 0;
  }
}
.thumbnail {
  opacity: 1 !important;
  border: 1px solid $divider;
  padding: 5px;
  border-radius: $mainBorderRadius;
  overflow: hidden;

  &.selected {
    border-color: $dark;
  }
}
