@import '~CommonStyles/_vars';

.container {
  flex-grow: 1;
  text-align: center;

  &.withBorder {
    border: 1px $divider solid;
    border-radius: $mainBorderRadius;
    padding: $commonMargin;
    margin: $commonMargin;
  }
}

.product {
  max-width: 205px;
  margin: 0 auto;
  cursor: pointer;
}

.originalPrice {
  color: $subtext;
  text-decoration: line-through;
}

.price {
  font: $fontButtonRegular;
  margin-right: 0.5 * $commonMargin;
}

.priceHolder {
  margin-bottom: $commonMargin;
  margin-top: 0;
}

.name {
  margin-top: 0.5 * $commonMargin;
  font: $fontButton;
}
