@import '~CommonStyles/_vars';

.productDropdown {
  font-size: 16px !important;
  input,
  select {
    font-size: 16px !important;
  }
}

.headerDropdown {
  margin-left: $commonMargin;
  max-width: 260px;
  font-size: 14px !important;
  input,
  select {
    font-size: 14px !important;
    padding: 0;
  }

  .headerDropdown {
    padding: 8px 0 0 16px !important;
    transform: translateY(-2px) !important;
  }
}

.searchIcon {
  transform: translateY(-3px);
}
