@import '~CommonStyles/_vars';

.box {
  background: white;
}

.header {
  display: flex;
  margin-bottom: 2 * $commonMargin;

  .title {
    flex-grow: 1;
  }
  .originalPrice {
    padding-right: $commonMargin;
    border-right: 1px solid $neutralLine;
  }
  .price {
    padding-left: $commonMargin;
  }
}

.mobileName {
  font: $fontHuge;
  margin: 10px 0;
}

.appearanceName {
  font: $fontMediumBold;
}

.appearancePrice {
  font: $fontInput;
  min-height: 19px;
  .placeholder {
    color: transparent;
  }
}

.affirmFirstLine {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: -5px;
}

.affirmSecondLine {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  align-items: center;
  font: $fontButtonRegular;
}

.pillsHolder {
  margin-bottom: $commonMargin;
}

.urgency {
  font: $fontTinyButton;
  color: $negative;
}

.infoIcon {
  margin-left: 8px;
  transform: translateY(2px);
  cursor: pointer;
}

.paypalUSPImg {
  height: 18px;
  transform: translateY(2px);
}

.capacitySelector {
  max-width: 130px;
}

.appearanceTagSelector {
  margin-top: 22px;
}
