@import '~CommonStyles/_vars';

.block {
  // transition: top 0.2s linear;
  box-shadow: 0 0 6px 0px rgba(0, 0, 0, 0.2);
  border-radius: $mainBorderRadius;
  padding: 1.5 * $commonMargin;
  z-index: 10;
  margin: $commonMargin 0;
}
.priceHolder {
  text-align: right;
}
.originalPrice {
  white-space: nowrap;
  color: $subtext;
  font: $fontTiny;
  margin-top: 6px;

  .struk {
    text-decoration: line-through;
  }
}

@media only screen and (max-width: $tabletBreakpoint) {
  .priceSection {
    flex-wrap: wrap;
    text-align: right;
    justify-content: flex-end;
  }
  .originalPrice {
    text-align: right;
  }
}

.categoryBox {
  border: 1px solid $inputBorder;
  border-radius: $mainBorderRadius;
  box-shadow: 0 0 7px 1px rgba(120, 120, 120, 0.1);
  padding: 2 * $commonMargin 2 * $commonMargin 2 * $commonMargin $commonMargin;
  margin: $commonMargin 0;
}
