@import '~CommonStyles/_vars';

.tagsHolder {
  display: flex;
  justify-content: stretch;

  &.vertical {
    flex-direction: column;
    .tag {
      margin-right: 0;
      margin-bottom: $commonMargin;
    }
  }
}

.tag {
  margin-right: 10px;
  border-radius: 8px;
  flex-grow: 1;
  text-align: center;
  padding: 6px;
  border: 1px solid $divider;
  cursor: pointer;
  transition: width 1s;
  position: relative;

  &.padded {
    padding: 10px $commonMargin;
  }

  &.selected,
  &:hover {
    border: 1px solid $dark;
    box-shadow: 0 0 0 1px $dark;
  }

  &.disabled {
    background: $divider;
    color: $inputBorder;
    cursor: default;
    &:hover {
      border: 1px solid $divider;
      box-shadow: none;
    }
  }

  &:last-child {
    margin-right: 0;
  }

  .name {
    font: $fontMediumBold;
  }

  .extra {
    font: $fontInput;
  }

  .label {
    color: $accent;
    position: absolute;
    font: $fontSmallBold;
    left: 0;
    text-align: center;
    top: -22px;
    right: 0;
    text-transform: uppercase;
  }
}
