@import '~CommonStyles/_vars';

.tag {
  background: $accent;
  padding: 5px 10px;
  border-radius: 12px;
  color: white;
  text-transform: uppercase;
  font: $fontSmallBold;
  display: inline-block;
  white-space: nowrap;
}

.option {
  border: 2px solid $inputBorder;
  border-radius: 8px;
  padding: 10px;

  &:hover {
    border-color: $dark;
  }
  &.selected {
    border-color: $dark;
  }
}
