@import '~CommonStyles/_vars';

.line {
  width: 100%;

  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}

.lineSpec {
  width: 100%;
  /*
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;

  -webkit-column-gap: 2 * $commonMargin;
  -moz-column-gap: 2 * $commonMargin;
  column-gap: 2 * $commonMargin;

  @media only screen and (max-width: $mobileBreakpoint) {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
  */
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 0.5 * $commonMargin;
  .label {
    margin-left: 10px;
    font: $fontSmall;
  }
}

.td {
  vertical-align: top;
}

.tableName {
  padding-bottom: 0.5 * $commonMargin;
  width: 33%;
  padding-right: $commonMargin;
  font: $fontTinyMedium;
}
