@import '~CommonStyles/_vars';

.price {
  font: $fontHeroBold;
  color: $positive;
  margin: $commonMargin 0;
}

.usps {
  font: $fontSmall;
  list-style: square;
  margin-bottom: $commonMargin;
  margin-left: $commonMargin;

  &:last-child {
    margin-bottom: 0;
  }
}
