@import '~CommonStyles/_vars';

.box {
  display: flex;
  justify-content: center;
  align-items: top;

  .number {
    font: $fontHero;
    font-weight: bold;
    margin-right: 8px;
  }

  .right {
    padding-top: 4px;
    img {
      max-height: 21px;
      margin: 2px 0;
    }
    font: $fontMediumBold;

    .reviews {
      font: $fontTiny;
    }
  }
}

.desktopTrustpilot {
  display: flex;

  align-items: center;
  font: $fontTiny;
  img {
    height: 18px;
    margin-right: 10px;
  }
}

.reviews {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;

  @media only screen and (max-width: $tabletBreakpoint) {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }

  -webkit-column-gap: 2 * $commonMargin;
  -moz-column-gap: 2 * $commonMargin;
  column-gap: 2 * $commonMargin;
  @media only screen and (max-width: $mobileBreakpoint) {
    width: 100%;
    text-align: center;
  }

  &.singleColumn {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    width: 100%;
    text-align: center;
    padding: $commonMargin 2 * $commonMargin;
  }
}

.review {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;

  border: 1px $divider solid;
  border-radius: $mainBorderRadius;
  padding: $commonMargin;
  margin-bottom: $commonMargin;
  .comment {
    font: $fontLargeMedium;
    font-size: 18px;
  }

  &.white {
    background: white;
  }

  .image {
    text-align: center;
    margin-bottom: $commonMargin;
    position: relative;
    cursor: pointer;
    .play {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -32px;
      margin-top: -35px;

      -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.4));
      filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.4));
    }
    img {
      max-height: 221px;
      max-width: 100%;
    }
  }
  .image + .comment {
    font: $fontMedium;
  }
  .reviewData {
    margin-top: $commonMargin;

    & + .reviewData {
      margin-top: $commonMargin / 2;
    }
    img {
      max-height: 19px;

      &.logo {
        max-height: 25px;
      }
    }
  }
}
