$headerHeight: 54px;
$mainBorderRadius: 8px;
$maxWidth: 1440px;

$color: blue;
$color2: red;

$colorText: #3f4446;

$accent: #4f91ff;
$accent60: #6a93e2;
$accent120: darken($accent, 20%);
$neon: #edf4ff;
$neonBackground: #f6f9ff;

$primary: #2e3d5e;
$dark: #1e242b;
$black90: #303030;
$black60: #404040;
$black30: #868686;

$white: white;
$white10: #f8f9fb;
$white20: #eff0f3;

$white30: #f4f4f4;
$white60: #adadad;
$white80: #979797;

$wiriGray: #cedbdf;
$wiriGray60: #dce5e9;
$divider: #d7d7d7;

$disabled: #999;

$topMenu: #3d454d;

$negative: #b13221;
$negative60: #e98579;
$negative120: darken($negative, 20%);

$positive: #2ccb92;
$positive60: #52ccac;
$positive120: darken($positive, 20%);

$yellow: #f0ab0f;
$yellow60: #f5c65b;

$lightContent: #cedbdf;
$bubble: #f8f9fa;

$backgroundColor: #fbf8f5;
$neutralBackground: #f6f8f9;
$neutralLine: #eff0f3;

$inputBorder: #f1f5f9;
$inputBackground: white;
$input-text: #1e242b;
$placeholder: #65676b;
$subtext: #65676b;

$lateralMenuBackground: #29333c;

$medium: 14px;
$normal: 12px;

$pageMargin: 32px;
$dashMargin: 20px;
$commonMargin: 16px;
$commonVerticalMargin: 16px;
$verticalSeparation: 12px;

$topMenuHeight: 60px;
$topMenuHeightMobile: 47px;
$leftMenuWidth: 0px;

$mobileBreakpoint: 767px;
$tabletBreakpoint: 990px;

$fontFamily: 'Open Sans', 'Helvetica Neue', arial, sans-serif;
$fontFamilyHeading: Martel, serif;

$fontHero: normal 54px/56px $fontFamily;
$fontHeroBold: 700 48px/56px $fontFamily;
$fontHeroText: normal 18px/27px $fontFamily;
$fontHeroTextBold: 700 18px/27px $fontFamily;
$fontH1: 700 36px/40px $fontFamily;
$fontFakeH1: 700 30px/40px $fontFamily;
$fontHuge: 700 24px/30px $fontFamily;
$fontHugeMedium: 600 24px/30px $fontFamily;
$fontLarge: 700 20px/26px $fontFamily;
$fontLargeMedium: 600 20px/26px $fontFamily;
$fontLargeNormal: normal 20px/26px $fontFamily;
$fontMedium: normal 16px/20px $fontFamily;
$fontMediumMedium: 600 16px/20px $fontFamily;
$fontMediumBold: 700 16px/20px $fontFamily;
$fontButton: 700 14px/20px $fontFamily;
$fontButtonMedium: 600 14px/20px $fontFamily;
$fontButtonRegular: normal 14px/20px $fontFamily;
$fontInput: normal 16px/20px $fontFamily;
$fontSmall: normal 12px/18px $fontFamily;
$fontSmallBold: 600 12px/18px $fontFamily;
$fontTinyMedium: 600 11px/16px $fontFamily;
$fontTinyButton: 700 11px/16px $fontFamily;
$fontTiny: normal 11px/16px $fontFamily;
$fontMini: normal 10px/15px $fontFamily;
$fontMiniBold: 700 10px/15px $fontFamily;
$fontAction: 700 12px/15px $fontFamily;
$fontLegal: normal 9px/15px $fontFamily;
