@import '~CommonStyles/_vars';

/* --------- Fonts ------------ */

.Hero {
  font: $fontHero;
}
.HeroBold {
  font: $fontHeroBold;
}
.HeroText {
  font: $fontHeroText;
}
.HeroTextBold {
  font: $fontHeroTextBold;
}
.H1 {
  font: $fontH1;
}
.fakeH1 {
  font: $fontFakeH1;
}
.Huge {
  font: $fontHuge;
}
.HugeMedium {
  font: $fontHugeMedium;
}
.Large {
  font: $fontLarge;
}
.LargeNormal {
  font: $fontLargeNormal;
}
.Medium {
  font: $fontMedium;
  input {
    font: $fontMedium;
  }
}
.MediumMedium {
  font: $fontMediumMedium;
}
.MediumBold {
  font: $fontMediumBold;
}
.ButtonMedium {
  font: $fontButtonMedium;
}
.Button {
  font: $fontButton;
}
.ButtonRegular {
  font: $fontButtonRegular;
}
.Input {
  font: $fontInput;
}
.Small {
  font: $fontSmall;
}
.SmallBold {
  font: $fontSmallBold;
}
.TinyButton,
.TinyBold {
  font: $fontTinyButton;
}
.Tiny {
  font: $fontTiny;
}

.Mini {
  font: $fontMini;
}
.Action {
  font: $fontAction;
}
.Legal {
  font: $fontLegal;
}

/* --------- Colors ------------ */

.ColorSubtext {
  color: $subtext;
}

.ColorPlaceholder {
  color: $placeholder;
}
.ColorAccent {
  color: $accent;
}
.ColorAccent60 {
  color: $accent60;
}
.ColorAccent120 {
  color: $accent120;
}
.ColorDark {
  color: $dark;
}
.ColorSubtext {
  color: $subtext;
}
.ColorBlack90 {
  color: $black90;
}
.ColorBlack60 {
  color: $black60;
}
.ColorBlack30 {
  color: $black30;
}
.ColorWhite {
  color: $white;
}
.ColorWhite10 {
  color: $white10;
}
.ColorWhite20 {
  color: $white20;
}
.ColorWhite30 {
  color: $white30;
}
.ColorWhite60 {
  color: $white60;
}
.ColorWhite80 {
  color: $white80;
}
.ColorWiriGray {
  color: $wiriGray;
}
.ColorWiriGray60 {
  color: $wiriGray60;
}
.ColorDisabled {
  color: $disabled;
}
.ColorTopMenu {
  color: $topMenu;
}
.ColorNeon {
  color: $neon;
}
.ColorNegative {
  color: $negative;
}
.ColorNegative60 {
  color: $negative60;
}
.ColorNegative120 {
  color: $negative120;
}
.ColorPositive {
  color: $positive;
}
.ColorPositive60 {
  color: $positive60;
}
.ColorPositive120 {
  color: $positive120;
}
.ColorYellow {
  color: $yellow;
}
.ColorYellow60 {
  color: $yellow60;
}

/* --------- Space ------------ */

.FullGrid {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.MainGridWithBackground {
  background: $inputBorder;
  padding-left: $commonMargin !important;
  padding-right: $commonMargin !important;
  width: 100% !important;
  margin: 0 !important;
  @media only screen and (max-width: $mobileBreakpoint) {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.MainGrid {
  padding-left: $commonMargin !important;
  padding-right: $commonMargin !important;
  width: 100% !important;
  margin: 0 !important;
  flex-direction: column !important;
  @media only screen and (max-width: $mobileBreakpoint) {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.MarginTop {
  margin-top: $commonVerticalMargin !important;
}
.MarginHalfTop {
  margin-top: 0.5 * $commonVerticalMargin !important;
}
.MarginDoubleTop {
  margin-top: 2 * $commonVerticalMargin !important;
}

.MarginBottom {
  margin-bottom: $commonVerticalMargin !important;
}
.MarginHalfBottom {
  margin-bottom: 0.5 * $commonVerticalMargin !important;
}
.MarginDoubleBottom {
  margin-bottom: 2 * $commonVerticalMargin !important;
}
.MarginVertical {
  margin-top: $commonVerticalMargin !important;
  margin-bottom: $commonVerticalMargin !important;
}
.MarginHalfLeft {
  margin-left: 0.5 * $commonMargin !important;
}
.MarginHalfRight {
  margin-right: 0.5 * $commonMargin !important;
}
.MarginOneHalfRight {
  margin-right: 1.5 * $commonMargin !important;
}
.MarginDoubleRight {
  margin-right: 2 * $commonMargin !important;
}
.MarginLeft {
  margin-left: $commonMargin !important;
}
.MarginRight {
  margin-right: $commonMargin !important;
}
.MarginHorizontal {
  margin-left: $commonMargin;
  margin-right: $commonMargin;
}
.Margin {
  margin: $commonVerticalMargin $commonMargin;
}

.PaddingTop {
  padding-top: $commonVerticalMargin;
}
.PaddingBottom {
  padding-bottom: $commonVerticalMargin;
}
.PaddingVertical {
  padding-top: $commonVerticalMargin;
  padding-bottom: $commonVerticalMargin;
}
.PaddingLeft {
  padding-left: $commonMargin;
}
.PaddingRight {
  padding-right: $commonMargin;
}
.PaddingHorizontal {
  padding-left: $commonMargin;
  padding-right: $commonMargin;
}
.Padding {
  padding: $commonVerticalMargin $commonMargin;
}

.FlexAllCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.FlexWrap {
  flex-wrap: wrap;
}
.FlexCenter {
  display: flex;
  align-items: center;
}

.FlexSpaceAround {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.FlexSpaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.FlexBaseline {
  align-items: baseline;
}
.FlexTop {
  align-items: flex-start;
}
.Flex {
  display: flex;
}
.FlexGrow {
  flex-grow: 1;
}
.FlexBottom {
  align-items: flex-end;
}

.FlexNoShrink {
  flex-shrink: 0;
}

.sectionTitle {
  font: $fontMediumBold;
  margin-bottom: $commonMargin;
}

.Left {
  text-align: left;
}
.Right {
  text-align: right;
}
.centered,
.Centered {
  text-align: center !important;
}

.fluid {
  width: 100%;
}

.Relative {
  position: relative;
}
.Block {
  display: block;
}

.sectionWithBorder {
  border-bottom: 1px solid $inputBorder;
  margin-bottom: 2 * $commonMargin;
  padding: 0 0 2 * $commonMargin 0;
}

.banner {
  border: 1px solid $divider;
  margin-bottom: 2 * $commonMargin;
  padding: $commonMargin;
  border-radius: $mainBorderRadius;
}
.section {
  margin-bottom: 2 * $commonMargin;
}

.WithBackground {
  background: $inputBorder;
}

.sectionWithBackground {
  margin-bottom: 2 * $commonMargin;
  padding: $commonMargin;
  background: $inputBorder;
  border-radius: 8px;
}

.Emphasis {
  font-weight: 700;
  color: $accent;
}

.SecondaryLink {
  color: $subtext;
  text-decoration: none;
}

.NextSpace {
  margin-right: 3px;
}

.WhiteBackground {
  background: white;
}

.NoWrap {
  white-space: nowrap;
}

.circularButton {
  background: $dark;
  display: inline-block;
  border-radius: 35px;
  width: 30px;
  height: 30px;
}

.ListItem {
  font: $fontSmall;
  list-style: square;
  margin-bottom: $commonMargin;
  margin-left: $commonMargin;

  &:last-child {
    margin-bottom: 0;
  }
}

.row {
  max-width: $maxWidth;
  margin-left: auto;
  margin-right: auto;
}

.CursorPointer {
  cursor: pointer;
}

.withBorder {
  padding: $commonMargin;
  border: 1px solid $divider;
  border-radius: $mainBorderRadius;
}

.Clickable {
  cursor: pointer;
}
.Capitalize {
  text-transform: capitalize;
}

.W100 {
  width: 100%;
}

.NoMargin {
  margin: 0;
}
