.contactFrame {}
.contactContainer {}
.field {
	display: block;
	margin-bottom: 10px;
	width: 100%;
	word-break: break-word;

	input[type=text] {
		width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 3px;
    outline: none;
	}

	input[type=checkbox] {
		float: left;
		margin-top: 10px;
    height: 16px;
    width: 16px;
    outline: none;
	}

	input[type=checkbox] + label {
		margin-left: 26px;
    display: block;
  }
}