@import '~CommonStyles/_vars';

.list {
}

.item {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.sellerItem {
  border: 1px solid $divider;
  padding: 10px $commonMargin;
  border-radius: $mainBorderRadius;
  margin-bottom: $commonMargin;

  &.nested {
    border: 0;
    border-bottom: 2px solid $divider;
    padding: 0;
    border-radius: 0;
  }
}

.details {
  flex-grow: 1;
}

.originalPrice {
  color: #bbb;
  text-decoration: line-through;
  margin-right: 10px;
}

.fact {
  color: $primary;
  font: $fontMediumBold;
}

.section {
  margin: $commonMargin 0;
}

.shippingBanner {
  position: relative;
  height: 43px;
  box-sizing: border-box;
  background: $inputBorder;
  color: $dark;
  font: $fontButtonMedium;
  text-align: center;
  padding-top: 11px;
}

.modifyButton {
  font: $fontMini;
  position: absolute;
  right: $pageMargin;
  @media only screen and (max-width: $mobileBreakpoint) {
    right: $commonMargin;
  }
  top: 50%;
  margin-top: -7px;
}

.cartInputSection {
  border: 0;
  border-radius: 0;
  outline: 0;
  box-shadow: none;
  box-sizing: border-box;
  padding: $commonMargin $pageMargin;

  @media only screen and (max-width: $mobileBreakpoint) {
    padding-left: $commonMargin !important;
    padding-right: $commonMargin !important;
  }

  &.open {
    border-bottom: 1px solid $divider;
  }
}

.cartInput {
  border: 0;
  border-radius: 0;
  outline: 0;
  box-shadow: none;
  box-sizing: border-box;
  border-bottom: 1px solid $divider;

  &.leftColumn {
    border-right: 1px solid $divider;
  }

  input {
    height: 64px !important;
    border: 0 !important;
    border-radius: 0 !important;
    outline: 0 !important;
    box-shadow: none !important;
    font: $fontMedium !important;
    font-weight: 600 !important;
    padding-left: $pageMargin !important;
    padding-right: $pageMargin !important;

    @media only screen and (max-width: $mobileBreakpoint) {
      padding-left: $commonMargin !important;
      padding-right: $commonMargin !important;
    }

    &::placeholder,
    &::-webkit-input-placeholder {
      color: $placeholder !important;
      font-weight: 400 !important;
    }
    &::-moz-placeholder {
      color: $placeholder !important;
      font-weight: 400 !important;
    }
    &:-ms-input-placeholder {
      color: $placeholder !important;
      font-weight: 400 !important;
    }
    &:-moz-placeholder {
      color: $placeholder !important;
      font-weight: 400 !important;
    }
  }
}

.cardNumberInput {
  position: relative;
  .addon {
    position: absolute;
    display: flex;
    align-items: center;
    right: $pageMargin;
    top: 15px;
    width: 150px;
    color: $placeholder;
    font: $fontMini;
    text-align: right;

    .icon {
      margin-left: 8px;
    }
  }
}

.paymentTypeIconHolder {
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  margin: 1px auto 0;
  span {
    font: $fontButton;
    margin-left: 10px;
    color: $placeholder;
  }
}

.paymentTypeIcon {
  margin: 2px auto 0 !important;
  height: 16px;
  margin: 0 auto;
}

.cartLegend {
  font: $fontSmall;
  color: $placeholder;
  padding: $commonMargin $pageMargin !important;
}

.tradeinBlock {
  padding: $commonMargin $pageMargin !important;
  border-radius: 0 $mainBorderRadius $mainBorderRadius 0;
}

.stripeInput {
  position: relative;
  padding: 22px $pageMargin 23px !important;
  border-bottom: 1px solid $divider !important;
  min-height: 65px;

  &.leftColumn {
    border-right: 1px solid $divider !important;
  }
}

@media only screen and (min-width: $mobileBreakpoint + 1) {
  .formContainer {
    border: 1px solid $divider;
    border-radius: $mainBorderRadius;
    overflow: hidden;
    margin-top: $commonMargin * 2;

    > :last-child > :last-child > .cartInput {
      border-bottom: 0 !important;
    }
  }
}

.disabled {
  cursor: default !important;
  background-color: #a4a4a4 !important;
}

.errorInput {
  margin-top: -15px;
  position: relative;
  margin-left: 32px;
  transform: translateY(-4px);
  font: $fontMini;
}
.paymentError {
  text-align: center;
  margin: 10px 0 0 0;
  transform: none;
}

.cardError {
  position: absolute;
  left: 32px;
  bottom: 5px;
  margin: 0;
  transform: none;
}
