@import '~CommonStyles/_vars';

.frame {
  border: 1px solid $inputBorder;
  padding: $commonMargin;
  border-radius: 5px;

  &.nested {
    border: 0;
    padding: 0;
  }
}

.field {
  display: flex;
  justify-content: space-between;
  margin-bottom: $commonMargin;
  > :first-child {
    white-space: nowrap;
    margin-right: $commonMargin;
  }

  .minimal {
    font: $fontTiny;
    text-align: right;
  }
}
