@import '~CommonStyles/_vars';

.list {
}

.item {
  border: 2px solid $inputBorder;
  padding: 10px $commonMargin;
  align-items: center;
  border-radius: $mainBorderRadius;
  margin-bottom: $commonMargin;

  &.nested {
    border: 0;
    padding: 0;
    margin-bottom: 2 * $commonMargin;
  }
}

.details {
  display: flex;
  .name {
    font: $fontButtonRegular;
    margin-bottom: 0.5 * $commonMargin;
    display: block;
  }
  .attribute {
    margin-bottom: 0.25 * $commonMargin;
    font: $fontTiny;
    color: $subtext;
  }
}

.originalPrice {
  color: #bbb;
  text-decoration: line-through;
  margin-right: 10px;
}

.fact {
  color: $primary;
  font: $fontMediumBold;
}

.modifyButton {
  font: $fontMini;
  position: absolute;
  right: $pageMargin;
  top: 50%;
  margin-top: -7px;
}

.cartInputSection {
  border: 0;
  border-bottom: 1px solid $inputBorder;
  border-radius: 0;
  outline: 0;
  box-shadow: none;
  box-sizing: border-box;
  padding: $commonMargin $pageMargin;
}

.cartInput {
  border: 0;
  border-bottom: 1px solid $inputBorder;
  border-radius: 0;
  outline: 0;
  box-shadow: none;
  box-sizing: border-box;

  &.leftColumn {
    border-right: 1px solid $inputBorder;
  }

  input {
    height: 64px !important;
    border: 0 !important;
    border-radius: 0 !important;
    outline: 0 !important;
    box-shadow: none !important;
    font: $fontMedium !important;
    font-weight: 600 !important;
    padding-left: $pageMargin !important;
    padding-right: $pageMargin !important;

    &::placeholder,
    &::-webkit-input-placeholder {
      color: $placeholder !important;
      font-weight: 400 !important;
    }
    &::-moz-placeholder {
      color: $placeholder !important;
      font-weight: 400 !important;
    }
    &:-ms-input-placeholder {
      color: $placeholder !important;
      font-weight: 400 !important;
    }
    &:-moz-placeholder {
      color: $placeholder !important;
      font-weight: 400 !important;
    }
  }
}

.cardNumberInput {
  position: relative;
  .addon {
    position: absolute;
    display: flex;
    align-items: center;
    right: $pageMargin;
    top: 15px;
    width: 150px;
    color: $placeholder;
    font: $fontMini;
    text-align: right;

    .icon {
      margin-left: 8px;
    }
  }
}

.paymentTypeIconHolder {
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  margin: 1px auto 0;
  span {
    font: $fontSmallBold;
    margin-left: 10px;
    color: $placeholder;
  }
}

.paymentTypeIcon {
  margin: 2px auto 0 !important;
  height: 16px;
  margin: 0 auto;
}

.cartLegend {
  font: $fontSmall;
  color: $placeholder;
  padding: $commonMargin $pageMargin !important;
}

.stockError {
  font: $fontTiny;
  line-height: 14px;
  margin-top: 4px;
}
