@import '~CommonStyles/_vars';

.tradeinBlock {
  padding: $pageMargin $pageMargin !important;
  border-radius: 0 0 2 * $mainBorderRadius 2 * $mainBorderRadius;
  background: white;

  &.standAlone {
    border: 1px solid $inputBorder;
    border-radius: $mainBorderRadius;
  }
}
