@import '~CommonStyles/_vars';

.barHolder {
  height: 12px;
  display: block;
  background: $divider;
  border-radius: 4px;
  margin-bottom: 0.5 * $commonMargin;
  margin-top: $commonMargin;
}

/*
tradeInActive: -1,
tradeInInOrder: -2,
tradeInSentConfirmation: -3,
tradeInSentLabel: -4,
tradeInReceived: -5,
tradeInPendingPayment: -6,
tradeInPayed: -7,
*/

.bar {
  border-radius: 4px;
  height: 12px;
  display: block;
  background: $positive;
}

.bar_0 {
  width: 0%;
}
.bar_1 {
  width: 33%;
  animation: w33 1s ease forwards;
}
.bar_2 {
  width: 66%;
  animation: w66 1s ease forwards;
}
.bar_3 {
  width: 100%;
  animation: w100 1s ease forwards;
}

.labels {
  display: flex;
  justify-content: space-between;
  margin: 0.5 $commonMargin;
  > div {
    text-align: center;
    font: $fontButtonMedium;
    &.not {
      color: $divider;
    }
    .date {
      font: $fontTiny;
      color: $subtext;
      text-align: center;
    }
  }

  :last-child {
    text-align: right;
  }
}

@keyframes w33 {
  from {
    width: 0%;
  }
  to {
    width: 33%;
  }
}
@keyframes w66 {
  from {
    width: 0%;
  }
  to {
    width: 66%;
  }
}
@keyframes w100 {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
