@import '~CommonStyles/_vars';

.bubble {
  background: $inputBorder;
  font: $fontTinyMedium;
  text-align: center;
  border-radius: 1000px;
  padding: 0.5 * $commonMargin $commonMargin 0.5 * $commonMargin 12px;
  margin-right: 1.5 * $commonMargin;

  &:last-child {
    margin-right: 0;
  }
}

.clickable {
  cursor: pointer;
}
