@import '~CommonStyles/_vars';

.image {
  margin: -7px 8px -7px 6px;
  height: 26px;
}

.dot {
  background-color: $positive;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  display: inline-block;
}

.legend {
  font: $fontButtonRegular;
}
