@import '~CommonStyles/_vars';

.header {
  display: flex;
  align-items: center;
  img {
    max-width: 50px;
    max-height: 50px;
    margin-right: $commonMargin;
  }
  .company {
    font: $fontMediumBold;
  }
}

.product {
  text-align: center;
  border: 1px solid $divider;
  margin-top: $commonMargin;
  border-radius: $mainBorderRadius;
  padding: $commonMargin;
  img {
    display: block;
    margin: 0 auto;
    max-width: 90%;
    max-height: 180px;
  }
}
