@import '~CommonStyles/_vars';

.highlights {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: stretch;

  .highlight {
    flex-basis: 40%;
    flex-grow: 1;
    border: 1px solid $divider;
    padding: 10px;
    text-align: center;
    margin-bottom: 1.5 * $commonMargin;
    border-radius: $mainBorderRadius;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:nth-child(odd) {
      margin-right: 1.5 * $commonMargin;
    }

    &.selected {
      border-color: $dark;
    }
  }
}
