@import '~CommonStyles/_vars';

.tagLink {
  border: 1px solid $divider;
  padding: $commonMargin;
  cursor: pointer;
  border-radius: $mainBorderRadius;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &.withChevron {
    padding-right: 1.5 * $commonMargin;
  }

  &.selected {
    border-color: $dark;
  }
}
