@import '~CommonStyles/_vars';

.activeGravatar {
	float: right;
	width: 80px;
	height: 80px;
	border-radius: 80px;
	margin-left: 10px;
}

.activeCustomer {
	font: $fontSmall;
	margin: 0 $commonMargin;
}

.nameTitle {
	font: $fontH1;
	padding: #{$commonMargin * 0.75} 0 #{$commonMargin * 0.5};
	border-bottom: 1px solid $neutralLine;
	margin-bottom: $commonMargin;
	@media screen and (max-width: $mobileBreakpoint) {
		display: none;
	}
}

.itemIcon {
	color: #cedbdf;
	margin-right: 10px !important;
}

.fact {
	margin-bottom: #{$commonMargin * 0.75};
	font: $fontSmallBold;
}

.activeCustomerHeader {
	overflow: hidden;
}

.activityItem {
	margin: 15px 0 10px;
}
.activityTitle {
	color: $white60;
}
.activityValue {

}

.buttonsHolder {
	display: flex;

	> button:first-child {
		margin-right: 10px;
	}
}

.emptyNotes {
	color: $white60;
}

.emptyColumn {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: calc(100vh - 50px);
}