@import '~CommonStyles/_vars';

.bookingsStatus {
	display: flex;
	justify-content: space-between;
	clear: both;
	margin-top: 15px;
	font: $fontSmall;
}

.capsule {
	padding: 5px;
	border-radius: 40px;
	min-width: 30px;
	background: $positive;
	color: white;
	text-align: center;
	display: inline-block;
  margin-right: 10px;

	&.capsuleCancelled {
		background: $yellow;
	}
	&.capsuleNoShow {
		background: $negative;
	}

}