@import '~CommonStyles/_vars';

.plusEmailTrigger {
	background: $input-text;
	color: white;
	padding: 1px 5px;
	margin-left: 5px;
	font: $fontMini;
	font-weight: 500;
	border-radius: 15px;
}

.gravatar {
	width: 36px;
	height: 36px;
	border-radius: 40px;
	float: left;
	margin-right: 10px;
}

html body {

	.table {
		font: $fontSmall;
		color: $black90;
		.row {
			td, th {
				border-bottom: 1px solid $neutralLine;
			}

			@media screen and (max-width: $mobileBreakpoint) {
				th:last-child {
					text-align: right;
				}
			}

			.name {
				font: $fontInput;
			}

			.email, .name, .fact {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				
			}

			.email {
				color: $input-text;
			}

			&:hover {
				td {
					background: $white10;
				}
			}

			.segmentsCell {
				word-break: break-word;
				/*font: $fontSmallBold;*/
				@media screen and (max-width: $mobileBreakpoint) {
	        max-width: 33%;
	        display: table-cell !important;
	        text-align: right;
	        padding: 0.75em 0.75em 0.75em 0.25em !important;
	      }
			}

			.nameCell {
				max-width: 33%;
				overflow: hidden;
				@media screen and (max-width: $mobileBreakpoint) {
	        max-width: 66%;
	        display: table-cell !important;
	        padding: 0.75em 0.75em 0.75em 0.25em !important;
	      }
			}
		}
	}
}

.checkbox {
	margin-left: 8px;
}

.emptyPlaceholder {
	margin-top: 210px;
	@media screen and (max-width: $mobileBreakpoint) {
		margin-top: 80px;
	}
}