@import '~CommonStyles/_vars';

.tagsHolder {
	flex-grow: 1;
}
.createHolder {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.createIcon {
	font-size: 20px !important;
	color: blue;
	margin-left: 10px !important;
}

.createInput {
	width: 84% !important;
}

.createLegend {
	flex-grow: 1;
	color: $accent;
	font-weight: bold;
}

.item {
	cursor: pointer;
	padding: 12px $commonMargin 0;
	position: relative;

	&:hover {
		background: $white10 !important;
	}

	&:after {
		content: '';
		border-bottom: 1px solid $white30;
		position: absolute;
		bottom: 0;
		left: 0;//$commonMargin;
		right: 0;//$commonMargin;
	}
}