@import '~CommonStyles/_vars';

.titleRow {
	margin-bottom: #{$commonMargin * 1.5};
}

.subtitle {
	font: $fontSmall;
	color: $white60;
}

.addLabelButton {
	font: $fontMediumBold;
	text-transform: uppercase;
}

.mainGrid {
  margin: 7px #{$commonMargin * 2} !important;
}

.sectionTitle {
	font: $fontMediumBold;
}

.sampleBotBody {
	min-height: 500px;
	max-height: 800px;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}

