@import '~CommonStyles/_vars';

.form {
  padding: 3 * $commonMargin 5 * $commonMargin;

  @media only screen and (max-width: $mobileBreakpoint) {
    padding: 2 * $commonMargin $commonMargin;
  }

  &.withImageOnTop {
    padding-top: 22%;
    margin-top: 25%;
    position: relative;
    padding-bottom: 3 * $commonMargin;
  }
}

@media only screen and (max-width: $mobileBreakpoint) {
  .container {
    padding-top: 0 !important;
    margin-top: 0;
  }
}
