@import '~CommonStyles/_vars';

.attrInput {
  width: 100px;
}
.attrInputLong {
  width: 150px;
}

.flex {
  display: flex;
  align-items: center;
}

.line {
  display: flex;
  align-items: center;
  margin-bottom: $dashMargin;
  > * {
    margin-right: $dashMargin;
  }

  &.top {
    align-items: start;
  }

  &.withBorder {
    border-bottom: 1px solid $neutralLine;
    padding: 10px;
    &:hover {
      background: $neutralLine;
    }
  }
}

.clickable {
  cursor: pointer;
}

.imageToDelete {
  cursor: pointer;
  position: relative;
  &:hover {
    opacity: 0.5;
    &:after {
      content: 'x';
      background: $negative;
      color: white;
      border-radius: 28px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -5px;
      display: block;
      width: 15px;
      height: 15px;
      z-index: 2;
      line-height: 4px;
      font-weight: bold;
      padding: 4px 3px;
    }
  }
}

.table {
  font: $fontButtonRegular !important;

  .expanded {
    & + .expanded td {
      border-bottom: 1px solid $dark;
    }
  }
}

.flexVerticalSpaceBetween {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 28px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.statusLabel {
  position: relative;
  padding: 5px 10px;
  display: inline-block;

  span {
    position: relative;
    font-weight: 600;
  }
  .statusLabelBackground {
    opacity: 0.1;
    border-radius: $mainBorderRadius;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.miniInput {
  width: 100px;
}

.section {
  background: $inputBorder;
  border-radius: $mainBorderRadius;
  border: 1px solid $divider;
  margin-top: $commonMargin;

  .sectionBody {
    padding: $commonMargin;
  }
  .sectionHeader {
    border-radius: $mainBorderRadius $mainBorderRadius 0 0;
    padding: $commonMargin;
    background: white;
  }
}

.card {
  background: white;
  padding: $commonMargin;
  border-radius: $mainBorderRadius;
}

.filtersHeader {
  margin-left: -16px;
}

.errorsMessage {
  color: $negative;
  display: flex;
  justify-content: flex-end;
  margin: 0 2 * $commonMargin 0 0;
}

.errorsBox {
  color: $negative;
  display: block;
  border: 1px solid $negative;
  border-radius: 4px;
  padding: $commonMargin;
  margin: $commonMargin 2 * $commonMargin $commonMargin 0;
}

.fileInputButton {
  right: 85px;
  top: 2px;
  background: white;
  padding: 0 0 0 10px;
}

.orderShippingLabel {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 80%;
  display: inline-block;
}
