@import '../../root/_vars-widget.scss';

.header {
	background: var(--theme-color);
	height: 72px;
	color: var(--theme-text-color);
	display: flex;
	padding: $commonMargin;
	align-items: center;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.27);
	z-index: 1;
	position: relative;
	flex-shrink: 0;
	
	.closeButton {
		margin-left: 20px;
		position: static;
	}
}

.information {
	flex-grow: 1;
	text-align: right;
	margin: 0 $commonMargin;
}

.title {
	font: $fontH3;
}

.subtitle {
	font: $fontMedium;
}
