@import '../../root/_vars-widget.scss';

.welcomeContainer {
	position: relative;
	color: var(--theme-text-color);
	padding: $commonVerticalMargin #{$commonMargin * 2} 10px;
	&:after {
		content: '';
		position: absolute;
		left: -30px;
		right: -30px;
		top: -30px;
    bottom: -90px;
    background: var(--theme-color);
    border-radius: 100px;
	}

	&.isMobile {
		.title {
			padding-right: 30px;
		}
	}
}
.title {
	font: $fontH1;
	position: relative;
	z-index: 1;
	margin-bottom: 10px;
}
.subtitle {
	font: $fontH2;
	position: relative;
	z-index: 1;
}
.closeButton {
	position: absolute;
	right: $commonMargin;
	top: #{$commonVerticalMargin + 4};
	z-index: 1;
	border: 1px solid white;
	border-radius: 3px;
	height: 25px;
	padding: 2px 2px 0 0;
	cursor: pointer;
}