@import '~CommonStyles/_vars';

.frame {
	text-align: center;
}

.emptyImage {
	max-width: 100%;
	margin-top: $commonMargin;
}

.title {
	font: $fontMedium;
	color: $black60;
	margin: #{$commonMargin * 1} $commonMargin 0 ;
	text-align: center;

	+ .subtitle {
		margin-top: 0;
	}
}

.subtitle {
	font: $fontInput;
	color: $white60;
	margin: #{$commonMargin * 1} $commonMargin #{$commonMargin / 2};
	text-align: center;
}