$color: blue;
$color2: red;

$black90: #303030;
$black60: #4A4A4A;

$white: white;
$white10: #fcfcfc;
$white30: #F4F4F4;
$white40: #eff0f3;
$white50: #D6D6D6;
$white60: #ADADAD;

$accent: #4578db;
$accentHover: lighten($accent, 20%);
$accentActive: darken($accent, 20%);

$negative: #e05140;

$neutralBackground: #f6f8f9;
$neutralLine: #eff0f3;

$lateralMenuBackground: #29333c;

$lateralSpace: 26px;
$verticalSpace: 20px;
$triggerSize: 60px;
$widgetWidth: 370px;
$avatarSize: 43px;
$mobileLateralSpace: 16px;
$mobileVerticalSpace: 16px;

// Iframe related
$iframeViewportMargin: 60px;
$iframeInnerPadding: 10px;
$bodyRealBottom: 100px;
$mobileBreakpoint: 480px;

$commonMargin: 16px;
$commonVerticalMargin: 20px;
$verticalSeparation: 12px;

$fontFamily: Montserrat, 'Helvetica Neue', arial, sans-serif;

$fontH1: normal 24px/32px $fontFamily;
$fontH2: normal 16px/24px $fontFamily;
$fontH3: 500 14px/18px $fontFamily;
$fontLarge: normal 14px/20px $fontFamily;
$fontMedium: normal 12px/19px $fontFamily;
$fontMediumBold: 500 12px/19px $fontFamily;
$fontSmall: normal 10px/15px $fontFamily;
$fontLead: 500 10px/15px $fontFamily;
$fontMini: 500 9px/12px $fontFamily;


:export {
  lateralSpace: $lateralSpace;
  verticalSpace: $verticalSpace;
  mobileLateralSpace: $mobileLateralSpace;
  mobileVerticalSpace: $mobileVerticalSpace;
  iframeViewportMargin: $iframeViewportMargin;
  iframeInnerPadding: $iframeInnerPadding;
  bodyRealBottom: $bodyRealBottom;
  mobileBreakpoint: $mobileBreakpoint;
}