@import './_vars-widget.scss';
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap&subset=latin-ext');
@import '../modules/chat/compiled-css-emoji-picker.css';

html body #customerWidget.customerWidget {
  --theme-color: $accent;
  --theme-text-color: white;
  --theme-color-hover: #6A93E2;
  --theme-color-active: #3a63b4;

	font: 14px/1.43 $fontFamily;
	font-weight: 400;
  text-align: left;
  color: $black90;
  // antialiasing
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  z-index: 1000;
  box-sizing: border-box;

  a {
    cursor: pointer;
  }

  button {
    font: 500 14px/1.21 $fontFamily;
  }
  table {
    width: 100%;
  }
}

.h1 {
	text-align: center;
  color: $color;

  .red {
    color: red;
  }
  .blue {
    color: blue;
  }
}

p, ul, li, div, b, i, span  {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input, textarea, select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  outline: none;
}