@import '../../root/_vars-widget.scss';

.showAllLabel {
	text-align: center;
  display: flex;
  justify-content: center;
  margin: 0 0 $commonMargin 0;
  position: relative;
  color: $white60;
  margin-top: -25px;


}