@import '../../root/_vars-widget.scss';

.conversationItem {
	display: flex;
	margin-bottom: $commonMargin;
	border-bottom: 1px $neutralLine solid;
	padding-bottom: $commonMargin;
	cursor: pointer;
}

.avatar {
	height: $avatarSize;
	width: $avatarSize;
	border-radius: $avatarSize;
	margin-right: $commonMargin;
	flex-shrink: 0;
}

.information {
	overflow: hidden;
	flex-grow: 1;
}

.informationLine {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.lastMessageAuthor, .lastMessageDate {
	font: $fontMedium;
	color: $white60;
	text-transform: capitalize;
	white-space: nowrap;
}

.lastMessageDate {
	margin-left: 6px;
}

.lastMessageAuthor {
	overflow: hidden;
	text-overflow: ellipsis;
	flex-shrink: 99;
	flex-grow: 99;
}

.lastMessage {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	display: block;
	font: $fontMedium;
}

.emoji > span {
	font-size: 18px;
}
