@import '~CommonStyles/_vars';

.bubble {
	background: $bubble;
	padding: 15px;
	flex: 1 1 0;
	font: $fontSmall;
  height: 100%;
}

.title {
	font: $fontMediumBold;
	margin-bottom: 15px;
}

.table {
  width: 100%;
  color: $black60;

  td {
    padding: 12px 0 14px;
    border-bottom: 1px solid $neutralLine;

    &.right {
      text-align: right;
      color: $input-text;
    }
  }

  .withAvatar {
    td {
      padding: 4px 0 4px;
    }
  }

  tr {
    margin-bottom: 10px;

    &:first-child {
    	td {
	    	border-top: 1px solid $neutralLine;
    	}
    }
  }
}

.avatar {
	width: 36px !important;
	height: 36px !important;
	margin-right: $commonMargin;
}

.verticalAlignCenter {
	display: flex;
	align-items: center;
}

.emptyList {
  margin: $commonMargin 0;
  font: $fontSmallBold;
  color: $white60;
}
