@import '../../root/_vars-widget.scss';

.mainAddress {
	font: $fontMedium;
	text-transform: uppercase;
}

.directions {
	font: $fontMedium;
	color: $white60;
}

.displayAddress {
	font-weight: bold;
}

.staticMapContainer {
	display: block;
	margin: $commonMargin 0 #{$commonMargin / 2};
	position: relative;

	img {
		width: 100%;
	}

	.marker {
		position: absolute;
		left: 50%;
		top: 50%;
		margin: -44px -22px;
		height: 44px;
		width: 44px;
		z-index: 1;
		g, path {
			fill: #215095;
		}
	}

	.markerShadow {
    box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.4);
    display: block;
    height: 23px;
    width: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50px;
    margin: -36px 0 0 -9px;
	}
}