@import '../../root/_vars-widget.scss';

.startRange {
}

.endRange {
	&:before {
		content: ' - ';
	}
}

.closedRange {
	text-transform: uppercase;
}

.days {
	color: $white60;
	font: $fontMediumBold;
}

.openNow {
	font-size: 10px;
	text-transform: uppercase;
	color: white;
  background: var(--theme-color);
  padding: 1px 7px;
  font-weight: 500;
  border-radius: 3px;
}