@import '../../root/_vars-widget.scss';

.promotion {
	display: block;
	&.image-right {
		.body {
	    flex-direction: row-reverse;
	    .inlineTitle, .text {
	    	text-align: left;
	    }
		}
	}
}

.clickable {
	cursor: pointer;
}

.template {
	display: block;
	overflow: hidden;
}

.title, .inlineTitle {
	font: $fontH2;
}

.rules {
	font: $fontSmall;
	font-style: italic;
	color: $white60;
	margin-top: $commonMargin;
}

.body {
	display: flex;
	overflow: hidden;
	clear: both;
	align-items: flex-start;
}

.image-top {
	.body {
		display: block;
		text-align: center;
	}
}

.image {
	max-width: 100%;
	background: white;
	margin: 0 auto;

	&.image-image-left {
		width: 25%;
		margin-right: $commonMargin;
		border-radius: 4px;
	}

	&.image-image-right {
		width: 25%;
		margin-left: $commonMargin;
		border-radius: 4px;
	}
}

.inlineTitle {
	margin-bottom: #{$commonMargin / 4};
}

.text {
	font: $fontMedium;
	color: $white60;
	&.text-image-left {
	}
}

.buttonHolder {
	margin-top: $commonMargin;
}

.chatOption {
	display: block;
	text-decoration: underline;
	color: $black90;
	font: $fontLarge;
	text-transform: capitalize;
	margin-top: #{$commonMargin / 2};
}

.chatMenuDescription {
	margin-bottom: #{$commonMargin / 2};
}

.textContentHolder {
	overflow: hidden;
	flex-grow: 1;
	text-align: left;
}

.menu {
	.image-image-left {
		max-width: 60px;
	}
}

.mapInvitationTitle {
	font: $fontH2;
}