@import '../root/_vars-widget.scss';

.label {
	font: $fontMini;
	text-transform: uppercase;
	color: white;
  background: var(--theme-color);
  color: var(--theme-text-color);
  padding: 0px 7px;
  font-weight: 500;
  border-radius: 3px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin: 0 5px;
  flex-shrink: 0;
  flex-grow: 0;
  height: 16px;
}

.clickable {
  cursor: pointer;
}