@import '~CommonStyles/_vars';

.dashboardLayout {
	padding-top: $topMenuHeight;
  @media screen and (max-width: $mobileBreakpoint) {
    padding-top: $topMenuHeightMobile;
  }
}

.dashboardContent {
	margin-left: $leftMenuWidth;
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;

  @media screen and (max-width: $mobileBreakpoint) {
    margin-left: 0;
  }

  .mainGrid {
  	flex: 1 1 0;
  }

  .mainColumn {
  	flex: 1 1 0;
  	flex-direction: column;
  	display: flex !important;
  	padding: $commonMargin #{$commonMargin * 2} !important;

    @media screen and (max-width: $mobileBreakpoint) {
      padding: 16px !important;
    }

  }

  .grow {
  	flex: 1 1 0;
  }

	&.noMargin {
		margin: 0 #{$commonMargin * -2} !important;
	}

	&.withSubmenu {
		margin-left: 200px;
	}
}