@import '../../root/_vars-widget.scss';

.bookingItem {
	font: $fontMedium;
	cursor: pointer;
}

.date {
	font-weight: 500;
	color: var(--theme-color);
}

.icon {
	height: 20px;
	vertical-align: middle;
	margin-right: 5px;
}

