@import '../../root/_vars-widget.scss';
.bookingModule {
	padding: $commonMargin;
}

.header {
	margin-bottom: $commonMargin;
}
.stepTitle {
	font: $fontH2;
}
.title {
	font: $fontH1;
	margin-bottom: 5px;

}
	
.isWithinChat {
	.title {
		font: $fontH2;
	}
}


.text {
	font-size: 14px;
	margin-bottom: 15px;
}

.buttonHolder {
	display: flex;
	margin-top: 15px;
}

.statusBar {
	margin-bottom: $verticalSeparation;
}

.successDetails {
	background: $white;
	border-radius: 4px;
	color: $white60;
	&.inChat {
		border: 1px dashed $neutralLine;
		padding: $commonMargin;
		margin-top: $verticalSeparation;
	}
}
.successHeader {
	font: $fontLarge;

	.name {
		font-weight: 500;
	}
}

.facts {
	display: flex;
	flex-wrap: wrap;
	color: $white60;
	> div {
		width: 50%;
		flex-shrink: 0;
		vertical-align: middle;
		margin-top: $verticalSeparation;
		svg {
			margin-right: 7px;
			transform: translateY(3px);
		}
		svg, path {
			fill: $white60;
		}
	}
}

.finalButton {
	margin-top: $commonMargin;
}

.rules {
	font: $fontSmall;
	font-style: italic;
	color: $white60;
	margin-top: $commonMargin;
	margin-bottom: $commonMargin;
}

.promotionHolder {
	background: white;
	border-bottom: 2px dashed var(--theme-color);
	padding: $commonMargin;
}

.promotionText {
	color: $white60;
	font: $fontMedium;
	margin-top: #{$commonMargin * 1.5};
}
.promotionTitle {
	font: $fontH2;
	color: var(--theme-color);
}

.confirmCancellation {
	text-align: center;
	font: $fontMedium;
	margin-top: $commonMargin;
}

.calendarLinks {
	margin-top: $commonMargin;
	font: $fontMedium;
}